@use "@angular/material" as mat;

:host {
  display: grid;
  height: 100%;
  color-scheme: dark;
  background-color: var(--mat-sys-primary-container);
}

mat-card {
  color-scheme: light;
  margin: auto;
  width: min(400px, 90vw);
}

mat-card-content {
  display: flex;
  flex-direction: column;
  padding-top: 2em;
}

.invalid-notice {
  color: #f44336;
}
