# Allow core files
!/README.md
!/package.json
!/package-lock.json
!/.editorconfig

# Allow playwright config
!/playwright.config.ts
!/tsconfig.json

# Allow test files
!/tests/**/*.ts
!/test-data/**/*

# Default gitignore by playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
