<div class="row">
  <h1>Fehler ({{ dataSource.data.length }})</h1>
  <mat-slide-toggle [formControl]="showResolvedControl">Gelöste Fehler anzeigen</mat-slide-toggle>
</div>

<div class="table-outer-container">
  <div class="table-container">
    <mat-table
      [dataSource]="dataSource"
      [trackBy]="trackTableRow"
      matSort
      matSortActive="createdAt"
      matSortDirection="desc"
    >
      <!-- detected at column -->
      <ng-container matColumnDef="createdAt">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Feststellungs&shy;zeitpunkt</mat-header-cell
        >
        <mat-cell *matCellDef="let error">{{ error.createdAt | date: "short" }}</mat-cell>
      </ng-container>

      <!-- transfer dir path column -->
      <ng-container matColumnDef="agency">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Abgebende Stelle</mat-header-cell>
        <mat-cell *matCellDef="let error">{{ error.agency?.name }}</mat-cell>
      </ng-container>

      <!-- title column -->
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Fehler</mat-header-cell>
        <mat-cell *matCellDef="let error">
          @if (error.resolved) {
            Gelöst:
          }
          {{ error.title }}
          <button
            mat-button
            class="open-details-button"
            (click)="openDetails(error)"
            aria-label="Details anzeigen"
          ></button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: displayedColumns"
        [class.resolved-row]="row.resolved"
        [class.new-row]="isNew(row)"
      ></mat-row>
    </mat-table>
  </div>
  <mat-paginator
    [pageSizeOptions]="[10, 15, 25, 100]"
    (page)="onPaginate($event)"
    aria-label="Seite auswählen"
  ></mat-paginator>
</div>
