<h2 mat-dialog-title>
  @if (data.resolution) {
    <ng-container>Gelöst: </ng-container>
  }
  <ng-container>{{ data.title }}</ng-container>
</h2>
<div mat-dialog-content>
  <div role="table">
    @if (data.resolution) {
      <div role="row" class="strong">
        <div role="cell">Lösung</div>
        <div role="cell">
          @switch (data.resolution) {
            @case ("mark-solved") {
              Als gelöst markiert
            }
            @case ("reimport-message") {
              Nachricht neu eingelesen
            }
            @case ("delete-message") {
              Nachricht gelöscht
            }
            @case ("delete-transfer-file") {
              Transferdatei gelöscht
            }
            @case ("obsolete") {
              Fehler nicht mehr vorhanden
            }
            @default {
              {{ data.resolution }}
            }
          }
        </div>
      </div>
      <div role="row">
        <div role="cell">Gelöst am</div>
        <div role="cell">{{ data.resolvedAt | date: "medium" }}</div>
      </div>
    }
    <div role="row">
      <div role="cell">Festgestellt am</div>
      <div role="cell">{{ data.createdAt | date: "medium" }}</div>
    </div>
    @if (data.agency) {
      <div role="row">
        <div role="cell">Abgebende Stelle</div>
        <div role="cell">{{ data.agency.name }}</div>
      </div>
    }
    @if (data.transferPath) {
      <div role="row">
        <div role="cell">Transfer-Datei</div>
        <div role="cell" [innerHtml]="data.transferPath | breakOpportunities"></div>
      </div>
    }
    @if (data.processId != "00000000-0000-0000-0000-000000000000") {
      <div role="row">
        <div role="cell">Aussonderung</div>
        <div role="cell">
          <a mat-button [routerLink]="['/nachricht', data.processId]" target="_blank">
            {{ data.processId }}
            <mat-icon iconPositionEnd>open_in_new</mat-icon>
          </a>
        </div>
      </div>
    }
    @if (data.messageType) {
      <div role="row">
        <div role="cell">Nachricht</div>
        <div role="cell">
          <a mat-button [routerLink]="['/nachricht', data.processId, data.messageType]" target="_blank">
            {{ data.messageType }}
            <mat-icon iconPositionEnd>open_in_new</mat-icon>
          </a>
        </div>
      </div>
    }
  </div>
  @if (data.info) {
    <mat-form-field>
      <mat-label>Fehler-Informationen</mat-label>
      <textarea matInput readonly [value]="data.info" rows="6"></textarea>
    </mat-form-field>
  }

  <mat-accordion>
    @if (data.stack) {
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Stack</mat-panel-title>
        </mat-expansion-panel-header>
        <pre>{{ data.stack }}</pre>
      </mat-expansion-panel>
    }
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Fehlerobjekt</mat-panel-title>
      </mat-expansion-panel-header>
      <pre>{{ json }}</pre>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Schließen</button>
  @if (!data.resolved) {
    <button mat-flat-button [matMenuTriggerFor]="menu">
      Lösen <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
    </button>
  }
</div>

<mat-menu #menu="matMenu">
  @if (data.agency?.contactEmail) {
    <button mat-menu-item (click)="sendEmail()">
      <mat-icon>outgoing_mail</mat-icon>
      <span>E-Mail an Abgebende Stelle</span>
    </button>
  }
  <button mat-menu-item (click)="markSolved()">
    <mat-icon>done</mat-icon>
    <span>Als gelöst markieren</span>
  </button>
  @if (data.messageType) {
    <button mat-menu-item (click)="reimportMessage()">
      <mat-icon>replay</mat-icon>
      <span>Nachricht erneut einlesen</span>
    </button>
    <button mat-menu-item class="danger" (click)="deleteMessage()">
      <mat-icon>delete</mat-icon>
      <span>Nachricht löschen</span>
    </button>
  }
  @if (data.transferPath && data.agency && !data.messageType) {
    <button mat-menu-item class="danger" (click)="deleteTransferFile()">
      <mat-icon>delete</mat-icon>
      <span>Transferdatei löschen</span>
    </button>
  }
</mat-menu>
