@import "../../../styles/mixins.scss";

:host {
  display: flex;
  flex-direction: column;
  padding: 3em;
  @media (min-width: 1600px) {
    padding-left: 5em;
    padding-right: 5em;
  }
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  h1 {
    flex-grow: 1;
  }
}

.table-outer-container {
  min-height: 0;
  display: flex;
  flex-direction: column;
  @include tableBorder;
}

.table-container {
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mat-mdc-row {
  position: relative;
}

.resolved-row {
  background-color: rgba(0, 128, 0, 0.1);
}

.new-row {
  font-weight: bold;
}

.cdk-column-createdAt {
  flex: 1 0 0;
}

.cdk-column-agency {
  flex: 2 0 0;
}

.cdk-column-title {
  flex: 3 0 0;
}

.open-details-button {
  position: absolute;
  border-radius: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  &:hover::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: currentColor;
    opacity: 0.04;
  }
}
