<h2 mat-dialog-title>
  @if (data.resolution) {
    <ng-container>Gelöst: </ng-container>
  }
  <ng-container>{{ data.description }}</ng-container>
</h2>
<div mat-dialog-content>
  <div role="table">
    @if (data.resolution) {
      <div role="row" class="strong">
        <div role="cell">Lösung</div>
        <div role="cell">
          @switch (data.resolution) {
            @case ("reimport-message") {
              Nachricht neu eingelesen
            }
            @case ("delete-message") {
              Nachricht gelöscht
            }
            @default {
              {{ data.resolution }}
            }
          }
        </div>
      </div>
    }
    <div role="row">
      <div role="cell">Feststellungszeitpunkt</div>
      <div role="cell">{{ data.detectedAt | date: "medium" }}</div>
    </div>
    @if (data.agency) {
      <div role="row">
        <div role="cell">Abgebende Stelle</div>
        <div role="cell">{{ data.agency.name }}</div>
      </div>
    }
    @if (data.transferPath) {
      <div role="row">
        <div role="cell">Transfer-Datei</div>
        <div role="cell" [innerHtml]="data.transferPath | breakOpportunities"></div>
      </div>
    }
    @if (data.process) {
      <div role="row">
        <div role="cell">Aussonderung</div>
        <div role="cell">
          @if (data.process) {
            <a mat-button [routerLink]="['/nachricht', data.process.id]" target="_blank">
              {{ data.process.id }}
              <mat-icon iconPositionEnd>open_in_new</mat-icon>
            </a>
          }
        </div>
      </div>
    }
    @if (data.message) {
      <div role="row">
        <div role="cell">Nachricht</div>
        <div role="cell">
          <a
            mat-button
            [routerLink]="['/nachricht', data.message.messageHead.processID, data.message.messageType.code]"
            target="_blank"
          >
            {{ data.message.messageType.code }}
            <mat-icon iconPositionEnd>open_in_new</mat-icon>
          </a>
        </div>
      </div>
    }
  </div>
  @if (data.additionalInfo) {
    <mat-form-field>
      <mat-label>Fehler-Informationen</mat-label>
      <textarea matInput readonly [value]="data.additionalInfo" rows="6"></textarea>
    </mat-form-field>
  }

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Fehlerobjekt</mat-panel-title>
      </mat-expansion-panel-header>
      <pre>{{ json }}</pre>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Schließen</button>
  @if (!data.resolved) {
    <button mat-flat-button [matMenuTriggerFor]="menu">
      Lösen <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
    </button>
  }
</div>

<mat-menu #menu="matMenu">
  @if (data.agency?.contactEmail) {
    <button mat-menu-item (click)="sendEmail()">
      <mat-icon>outgoing_mail</mat-icon>
      <span>E-Mail an Abgebende Stelle</span>
    </button>
  }
  <button mat-menu-item (click)="reimportMessage()">
    <mat-icon>replay</mat-icon>
    <span>Nachricht erneut einlesen</span>
  </button>
  @if (data.message) {
    <button mat-menu-item class="danger" (click)="deleteMessage()">
      <mat-icon>delete</mat-icon>
      <span>Nachricht löschen</span>
    </button>
  }
</mat-menu>
