<h1>Bestände ({{ dataSource.data.length }})</h1>

<mat-table [dataSource]="dataSource" matSort>
  <!-- Icon Column -->
  <ng-container matColumnDef="icon">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-icon>shelves</mat-icon>
    </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.name }}
      <button
        mat-button
        class="open-details-button"
        (click)="openDetails(element)"
        aria-label="Details anzeigen"
      ></button>
    </mat-cell>
  </ng-container>

  <!-- Dimag-ID Column -->
  <ng-container matColumnDef="dimagId">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Dimag-ID</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.dimagId }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

<button class="add-new-button" mat-flat-button (click)="newCollection()">
  <mat-icon>add</mat-icon>Neuer Bestand
</button>
