<mat-toolbar class="mat-elevation-z4" color="primary">
  <mat-toolbar-row>
    <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload accept=".zip">
    <button mat-button (click)="fileUpload.click()">
      <mat-icon>upload_file</mat-icon>
      xdomea Nachricht auswählen
    </button>
    <span class="spacer"></span>
    <div class="user_label">
      <mat-icon>person</mat-icon>
      <span class="mat-body-strong">{{ userDisplayName }}</span>
    </div>
    <button mat-button (click)="logout()" routerLink="anmelden">
      <mat-icon>logout</mat-icon>
      Abmelden
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container>

  <mat-drawer #sidenav mode="side" opened>
    <app-message-tree [messageText]="messageText"></app-message-tree>
  </mat-drawer>

  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>

</mat-drawer-container>
