<div class="metadata-section">
  <form *ngIf="record" [formGroup]="form">
    <mat-accordion multi>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title> Metadaten </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="metadata">
          <div class="metadata-row">
            <mat-form-field class="record-plan-id-input" floatLabel="always">
              <mat-label>Aktenplanschlüssel</mat-label>
              <input matInput formControlName="recordPlanId" readonly />
            </mat-form-field>
            <mat-form-field class="record-plan-subject-input" floatLabel="always">
              <mat-label>Aktenplan</mat-label>
              <input matInput formControlName="recordPlanSubject" readonly />
            </mat-form-field>
          </div>

          <div class="metadata-row">
            <mat-form-field class="file-id-input" floatLabel="always">
              <mat-label>Aktenzeichen</mat-label>
              <input matInput formControlName="fileId" readonly />
            </mat-form-field>
            <mat-form-field class="subject-input" floatLabel="always">
              <mat-label>Behördlicher Aktentitel</mat-label>
              <input matInput formControlName="subject" readonly />
            </mat-form-field>
          </div>

          <div class="metadata-row">
            <mat-form-field class="file-type-input" floatLabel="always">
              <mat-label>Aktentyp</mat-label>
              <input matInput formControlName="fileType" readonly />
            </mat-form-field>
            <mat-form-field class="medium-input" floatLabel="always">
              <mat-label>Medium</mat-label>
              <input matInput formControlName="medium" readonly />
            </mat-form-field>
            <mat-form-field class="confidentiality-input" floatLabel="always">
              <mat-label>Vertraulichkeitsstufe</mat-label>
              <input matInput formControlName="confidentiality" readonly />
            </mat-form-field>
          </div>
          <div class="metadata-row">
            <mat-form-field class="life-start-input" floatLabel="always">
              <mat-label>Laufzeit Beginn</mat-label>
              <input matInput formControlName="lifeStart" readonly />
            </mat-form-field>

            <mat-form-field class="life-end-input" floatLabel="always">
              <mat-label>Laufzeit Ende</mat-label>
              <input matInput formControlName="lifeEnd" readonly />
            </mat-form-field>
          </div>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel *ngIf="canBeAppraised" [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title> Bewertung </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="metadata">
          <div class="metadata-row">
            <div
              *ngIf="appraisalComplete; then appraisalInputReadonly; else appraisalInputEditable"
            ></div>
            <ng-template #appraisalInputReadonly>
              <mat-form-field class="appraisal-input" floatLabel="always">
                <mat-label>Bewertungsentscheidung</mat-label>
                <input matInput formControlName="appraisal" readonly />
              </mat-form-field>
            </ng-template>
            <ng-template #appraisalInputEditable>
              <mat-form-field class="appraisal-input" floatLabel="always">
                <mat-label>Bewertungsentscheidung</mat-label>
                <mat-select
                  formControlName="appraisal"
                  (selectionChange)="setAppraisal($event.value)"
                >
                  <mat-option *ngFor="let appraisal of appraisalCodes" [value]="appraisal.code">
                    {{ appraisal.shortDesc }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </ng-template>
            <mat-form-field class="appraisal-recomm-input" floatLabel="always">
              <mat-label>Behördlicher Bewertungsvorschlag</mat-label>
              <input matInput formControlName="appraisalRecomm" readonly />
            </mat-form-field>
          </div>
          <mat-form-field class="internal-appraisal-note" floatLabel="always">
            <mat-label>Interner Bewertungsvermerk</mat-label>
            <textarea
              #appraisalNote
              matInput
              formControlName="appraisalNote"
              [readonly]="appraisalComplete"
              rows="5"
            >
            </textarea>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
</div>
