:host {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

mat-sidenav-container {
  flex-grow: 1;
}

mat-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  box-sizing: border-box;
  a,
  button {
    width: 100%;
    justify-content: flex-start;
    padding: 0 24px;
  }
  a.active {
    background-color: var(--mat-sys-primary);
    color: var(--mat-sys-on-primary);
  }
  .spacer {
    flex-grow: 1;
  }
}

mat-sidenav-content {
  box-sizing: border-box;
  padding: 3em;
}
