# --------------------------------------------------------------------------------------------------
# PROXY
# --------------------------------------------------------------------------------------------------

# HTTP proxy configuration for outgoing traffic. Leave empty if a proxy is not required on your 
# network.
HTTP_PROXY=
HTTPS_PROXY=${HTTP_PROXY}
NO_PROXY=localhost,127.0.0.1

# --------------------------------------------------------------------------------------------------
# User
# --------------------------------------------------------------------------------------------------

# User and group ID to be used to run containers.
UID=1000
GID=1000

# --------------------------------------------------------------------------------------------------
# Database
# --------------------------------------------------------------------------------------------------

MONGODB_USER=xman
MONGODB_PASSWORD=secret
MONGODB_HOST=mongo
MONGODB_URL=mongodb://${MONGODB_USER}:${MONGODB_PASSWORD}@${MONGODB_HOST}:27017
MONGODB_DATABASE=xman