# whitelist init (prohibit everything, allow all directories)
*
!*/

# allow visual studio code config
!.vscode/settings.json
!.vscode/extensions.json

# allow gitginore files
!.gitignore

# allow editor config
!/.editorconfig

# allow docs
!/README.md
!/CHANGELOG.md
!/LICENSE
!/docs/*.md
!/docs/img/*.png

# allow MkDocs
!/mkdocs.yml

# allow environment file
!/.env.example

# allow docker compose files
!/compose.yml
!/compose.dev.yml

# allow go workspace files
!/go.work
!/go.work.sum

# allow scripts
!/scripts/*

# allow gitkeep files
!**/.gitkeep