# whitelist init (prohibit everything, allow all directories)
*
!*/

/server/database/data

# allow visual studio code config
!.vscode/settings.json
!.vscode/extensions.json

# allow gitginore files
!.gitignore

# allow project readme
!/README.md

# allow environment file
!/sample.env

# allow docker compose file
!/docker-compose.yml