# whitelist init (prohibit everything, allow all directories)
*
!*/

# allow gitginore files
!.gitignore

# allow database creation script
!/mariaDB/create_database.sql

# allow project readme
!/README.md