mat-toolbar {
  position: relative;
  z-index: 2;
}

mat-icon.title-icon {
  height: 26px;
  width: 26px;
  font-size: 26px;
}

.active {
  background: rgba(0, 0, 0, 0.3);
}

.spacer {
  flex: 1 1 auto;
}

.mat-divider.mat-divider-vertical {
  height: 20px;
  border-right-color: rgba(255, 255, 255, 0.5);
  padding-right: 0.3em;
  margin-right: 0.3em;
}
