<mat-toolbar>
  <mat-toolbar-row>
    <a mat-button routerLink="/">
      <mat-icon class="title-icon material-icons-outlined">cancel</mat-icon>
      X-MAN
    </a>
    @if (loginInformation | async; as login) {
      <a
        *ngIf="login.user.permissions?.admin"
        mat-button
        routerLink="steuerungsstelle"
        [routerLinkActive]="['active']"
        [matBadge]="(unseenProcessingErrors | async) || ''"
        >Steuerungsstelle
      </a>
      <a *ngIf="login.user.permissions?.admin" mat-button routerLink="administration" [routerLinkActive]="['active']"
        >Administration</a
      >
      <span class="spacer"></span>
      <button mat-button (click)="openUserDetails()">
        <mat-icon>person</mat-icon>
        <span class="mat-body-strong">{{ login.user.displayName }}</span>
      </button>
      <button mat-button (click)="logout()" routerLink="anmelden">
        <mat-icon>logout</mat-icon>
        Abmelden
      </button>
    }
  </mat-toolbar-row>
</mat-toolbar>
