@use "@angular/material" as mat;

mat-toolbar {
  position: relative;
  z-index: 2;
  @include mat.elevation(4);
  color: var(--mat-sys-on-primary);
  background-color: var(--mat-sys-primary);
  &.failed {
    color: var(--mat-sys-on-error);
    background: var(--mat-sys-error);
  }
  > * {
    color-scheme: dark;
  }
}

mat-icon.title-icon {
  height: 26px;
  width: 26px;
  font-size: 26px;
}

.active {
  background: rgba(255, 255, 255, 0.1);
}

.spacer {
  flex: 1 1 auto;
}

.failed-notice {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 1rem;
}
