@use 'sass:map';
@use '@angular/material' as mat;

.appraisal-form {
  width: 55.0em;
  display: flex;
  flex-direction: column;
}

.appraisal-input {
  margin-top: 1.0em;
  width: 22.5em;
}

.internal-appraisal-note {
  width: 100%;
}

.confirm-button {
  border: 2px solid mat.get-color-from-palette(mat.$pink-palette, 300) !important;
}

.abort-button {
  border: 2px solid mat.get-color-from-palette(mat.$indigo-palette, 300) !important;
}