<form class="appraisal-form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <h4 mat-dialog-title>Bewertungsentscheidung für ausgewählte Schriftgutobjekte hinterlegen</h4>

  <mat-dialog-content>
    <mat-form-field class="appraisal-input" appearance="outline" floatLabel="always">
      <mat-label>Bewertungsentscheidung</mat-label>
      <mat-select formControlName="appraisal" [(value)]="selectedAppraisal">
        <mat-option *ngFor="let appraisal of recordObjectAppraisals" [value]="appraisal.code">
          {{ appraisal.shortDesc }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="internal-appraisal-note" appearance="outline" floatLabel="always">
      <mat-label>Interner Bewertungsvermerk</mat-label>
      <textarea #appraisalNote matInput formControlName="appraisalNote" rows="7"> </textarea>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button class="abort-button" mat-stroked-button mat-dialog-close color="primary">Abbrechen</button>
    <button class="confirm-button" mat-stroked-button type="submit" color="accent">Speichern</button>
  </mat-dialog-actions>
</form>
