mat-expansion-panel {
  &.archiving-complete {
    background-color: rgba(0, 128, 0, 0.2);
  }
  &.unresolved-error {
    background-color: rgba(255, 0, 0, 0.15);
  }
}

.metadata-section {
  padding: 2em;
  .metadata-row {
    display: flex;
    flex-direction: row;
    column-gap: 1.5em;
  }

  .process-id-input,
  .note-input {
    flex-grow: 1;
  }
}

mat-list-item.warning {
  mat-icon {
    color: orange;
  }
}

mat-list-item.solved {
  ::ng-deep .mat-mdc-list-item-title {
    text-decoration: line-through;
  }
}

.open-details-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  &:hover::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: currentColor;
    opacity: 0.04;
  }
}

.admin-buttons {
  display: flex;
  gap: 1em;
}
