@use "sass:map";
@use "@angular/material" as mat;

:host {
  display: grid;
  height: 100%;
  color-scheme: dark;
  color: var(--mat-sys-on-primary-container);
  background-color: var(--mat-sys-primary-container);
}

.container {
  margin: auto;
  max-width: 500px;
  text-align: center;
}

mat-divider {
  opacity: 0.65;
  margin-bottom: 1em;
}
