@use "sass:map";
@use "@angular/material" as mat;

:host {
  display: grid;
  height: 100%;
  color: var(--mat-app-text-color);
  background-color: var(--mat-primary-30);
  --mat-divider-color: var(--mat-app-text-color);
}

.container {
  margin: auto;
  max-width: 500px;
  text-align: center;
}

mat-divider {
  opacity: 0.65;
  margin-bottom: 1em;
}
