@use "sass:map";
@use "@angular/material" as mat;

.messsage-view {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.actions {
  display: flex;
  margin: 1em;
  flex-shrink: 0;
  column-gap: 0.5em;
  justify-content: center;
}

.message-tree {
  flex-grow: 1;
  overflow: auto;
  margin-top: 2em;
  margin-left: 2em;
}

mat-tree-node {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 0.4em;
  margin-right: 2em;
}

.root-node {
  position: sticky;
  top: 0px;
  z-index: 2;
  background-color: var(--mat-app-background-color);
}

.filters {
  margin-left: 40px;
}

.filters-hint {
  margin-top: 0.5em;
  color: var(--mat-secondary);
}

.node {
  display: flex;
  align-items: center;
  border-radius: 30px;
  padding: 4px;
  margin-bottom: 0.4em;
  user-select: none;

  &.filtered-node {
    color: var(--mat-secondary);
  }

  &:not(.filtered-node) {
    cursor: pointer;
    &:hover {
      background-color: var(--mat-primary-95);
    }
  }

  &.active {
    background-color: var(--mat-primary-90);
  }
}

.node-info {
  display: flex;
  flex-direction: row;
  align-items: center;

  .mat-icon {
    // important icons shrink when overflow occurs
    flex-shrink: 0;
  }
}

.node-title {
  display: flex;
  flex-direction: column;
  word-break: break-word;
  padding-right: 4em;

  .node-subtitle-line {
    font-weight: 500;
  }
}

.appraisal-symbol {
  font-weight: bold;
  width: 48px; // icon width for alignment
  text-align: center;
}

.spacer {
  flex: 1 1 auto;
}

.message-icon {
  color: mat.get-color-from-palette(mat.$indigo-palette, 500);
  margin-right: 0.5em;
}

.file-icon {
  color: mat.get-color-from-palette(mat.$indigo-palette, 500);
  margin-right: 0.5em;
}

.process-icon {
  color: green;
  margin-right: 0.5em;
}

.document-icon {
  color: orange;
  margin-right: 0.5em;
}

.attachment-icon {
  margin-right: 0.5em;
}

.primary-documents-icon {
  color: mat.get-color-from-palette(mat.$indigo-palette, 500);
  margin-right: 0.5em;
}

::ng-deep .message-tree-menu {
  .active {
    background-color: rgba(0, 0, 0, 0.04);
    span,
    mat-icon {
      color: var(--mat-primary);
    }
  }
  span {
    flex-grow: 1;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
  }
  .mat-icon.active-checkmark {
    margin-right: 0;
    margin-left: 2em;
  }
  a:not(.active) .active-checkmark {
    visibility: hidden;
  }
}
