<div class="messsage-view">
  <mat-tree
    #messageTree
    [dataSource]="dataSource"
    [treeControl]="treeControl"
    class="message-tree"
    [trackBy]="trackTree"
  >
    <!-- This is the tree node template for leaf nodes -->
    <mat-tree-node *matTreeNodeDef="let node" id="{{ node.id }}" matTreeNodePadding>
      <div class="node" [routerLink]="node.routerLink" [routerLinkActive]="['active']">
        <div class="node-info">
          <!-- use a disabled button to provide padding for tree leaf -->
          <button mat-icon-button disabled></button>
          <ng-container *ngTemplateOutlet="nodeIcon; context: { $implicit: node }"></ng-container>
          <ng-container *ngTemplateOutlet="nodeTitle; context: { $implicit: node }"></ng-container>
        </div>
        <ng-container *ngTemplateOutlet="nodeAppraisal; context: { $implicit: node }"></ng-container>
      </div>
    </mat-tree-node>

    <!-- This is the tree node template for expandable nodes -->
    <mat-tree-node
      *matTreeNodeDef="let node; when: hasChild"
      id="{{ node.id }}"
      [ngClass]="node.type === 'message' ? 'root-node' : ''"
      matTreeNodePadding
    >
      <div
        class="node"
        matRipple
        [routerLink]="node.routerLink"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="node.routerLink == null && treeControl.toggle(node)"
      >
        <div class="node-info">
          <button
            *ngIf="node.type !== 'message'"
            mat-icon-button
            matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.name"
          >
            <mat-icon class="mat-icon-rtl-mirror">
              {{ treeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}
            </mat-icon>
          </button>

          <!-- use a disabled button to provide padding for tree leaf -->
          <button *ngIf="node.type === 'message'" mat-icon-button disabled></button>
          <ng-container *ngTemplateOutlet="nodeIcon; context: { $implicit: node }"></ng-container>
          <ng-container *ngTemplateOutlet="nodeTitle; context: { $implicit: node }"></ng-container>
        </div>

        @if (node.type === "message") {
          <div class="spacer"></div>
          <button
            mat-icon-button
            [matMenuTriggerFor]="filterMenu"
            (click)="$event.stopPropagation()"
            aria-label="Filter"
          >
            <mat-icon [class.material-icons-outlined]="activeFilters.length === 0">filter_alt</mat-icon>
          </button>
          <mat-menu #filterMenu="matMenu">
            <button
              mat-menu-item
              [disabled]="hasFilter('not-appraised')"
              (click)="activeFilters.push({ type: 'not-appraised', label: 'Noch nicht bewertet' })"
            >
              Noch nicht bewertet
            </button>
            <button
              mat-menu-item
              [disabled]="hasFilter('record-plan-id')"
              (click)="addValueFilter({ type: 'record-plan-id', label: 'Aktenplanschlüssel' })"
            >
              Aktenplanschlüssel
            </button>
          </mat-menu>
          <button
            *ngIf="process?.message0501 && process?.message0503"
            mat-icon-button
            [matMenuTriggerFor]="menu"
            (click)="$event.stopPropagation()"
            [attr.aria-label]="'Menü öffnen für ' + node.name"
          >
            <mat-icon class="mat-icon-rtl-mirror">expand_more</mat-icon>
          </button>
          <mat-menu #menu="matMenu" class="message-tree-menu">
            @if (process?.message0501) {
              <a mat-menu-item [routerLink]="['/nachricht', process?.id, '0501']" [routerLinkActive]="['active']">
                <mat-icon>assignment</mat-icon>
                <span
                  >Anbietung
                  <mat-icon class="active-checkmark">check</mat-icon>
                </span>
              </a>
            }
            @if (process?.message0503) {
              <a mat-menu-item [routerLink]="['/nachricht', process?.id, '0503']" [routerLinkActive]="['active']">
                <mat-icon>assignment</mat-icon>
                <span
                  >Abgabe
                  <mat-icon class="active-checkmark">check</mat-icon>
                </span>
              </a>
            }
          </mat-menu>
        }
        <ng-container *ngTemplateOutlet="nodeAppraisal; context: { $implicit: node }"></ng-container>
      </div>
      @if (node.type === "message" && activeFilters.length > 0) {
        <div class="filters">
          <mat-chip-set>
            @for (filter of activeFilters; track filter) {
              <mat-chip-row
                (removed)="removeFilter(filter)"
                [editable]="filterHasValue(filter)"
                (edited)="onFilterEdited($event, filter)"
              >
                @if (filterHasValue(filter)) {
                  {{ filter.label }}: {{ filter.value }}
                } @else {
                  {{ filter.label }}
                }
                <button matChipRemove [attr.aria-label]="'Filter ' + filter.label + 'entfernen'">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-row>
            }
          </mat-chip-set>
          @if (filtersHint) {
            <p class="filters-hint">{{ filtersHint }}</p>
          }
        </div>
      }
    </mat-tree-node>
  </mat-tree>

  <div *ngIf="process && message && !showSelection" class="actions message-actions">
    <button mat-flat-button (click)="copyMessageUrl()">
      <mat-icon>content_copy</mat-icon>
      <span>Objekt-Link kopieren</span>
    </button>
    <button
      mat-flat-button
      *ngIf="message.messageType.code === '0501' && !process.processState.appraisal.complete"
      (click)="enableSelection()"
    >
      <mat-icon> check_box </mat-icon>
      Mehrfachauswahl
    </button>
    <button
      mat-flat-button
      class="tertiary-button"
      *ngIf="process?.processState?.archiving?.complete"
      (click)="downloadReport()"
    >
      <mat-icon>summarize</mat-icon>
      <span>Übernahmebericht herunterladen</span>
    </button>
    <button
      mat-flat-button
      class="tertiary-button"
      *ngIf="message.messageType.code === '0501' && !process.processState.appraisal.complete"
      (click)="sendAppraisalMessage()"
    >
      <mat-icon>forward_to_inbox</mat-icon>
      <span>Bewertung senden</span>
    </button>
    <button
      mat-flat-button
      class="tertiary-button"
      *ngIf="
        message.messageType.code === '0503' &&
        process.processState.formatVerification.complete &&
        canStartStep(process.processState.archiving)
      "
      (click)="archive0503Message()"
    >
      <mat-icon>archive</mat-icon>
      <span>Abgabe archivieren</span>
    </button>
  </div>

  <div *ngIf="process && message && showSelection" class="actions appraisal-actions">
    <button class="abort-button" mat-button (click)="disableSelection()">Abbrechen</button>
    <button
      mat-flat-button
      (click)="setAppraisalForMultipleRecordObjects()"
      [disabled]="this.selectedNodes.length === 0"
    >
      <mat-icon>checklist</mat-icon>
      Bewerten
    </button>
  </div>
</div>

<ng-template #nodeIcon let-node>
  <mat-icon *ngIf="node.type === 'message'" class="message-icon">assignment</mat-icon>
  <mat-icon *ngIf="node.type === 'file-group'" class="file-icon" svgIcon="folders"></mat-icon>
  <mat-icon *ngIf="node.type === 'file' || node.type === 'subfile'" class="file-icon">folder</mat-icon>
  <mat-icon *ngIf="node.type === 'process-group'" class="process-icon" svgIcon="folders"></mat-icon>
  <mat-icon *ngIf="node.type === 'process' || node.type === 'subprocess'" class="process-icon">folder</mat-icon>
  <mat-icon *ngIf="node.type === 'document-group'" class="document-icon" svgIcon="articles"></mat-icon>
  <mat-icon *ngIf="node.type === 'document'" class="document-icon">article</mat-icon>
  <mat-icon *ngIf="node.type === 'attachment'" class="attachment-icon">attach_file</mat-icon>
</ng-template>

<ng-template #nodeTitle let-node>
  <div class="node-title">
    <div class="node-title-line">
      {{ node.title }}
    </div>
    <div *ngIf="node.subtitle" class="node-subtitle-line">{{ node.subtitle }}</div>
  </div>
</ng-template>

<ng-template #nodeAppraisal let-node>
  <div *ngIf="showAppraisal && node.canBeAppraised" class="node-appraisal">
    <span class="spacer"></span>
    <span class="appraisal-symbol" *ngIf="getAppraisal(node) as appraisal">{{
      appraisal.decision | recordObjectAppraisal
    }}</span>
    <mat-checkbox
      *ngIf="showSelection"
      [(ngModel)]="node.selected"
      (click)="$event.stopPropagation()"
      (ngModelChange)="selectItem($event, node.id)"
    ></mat-checkbox>
  </div>
</ng-template>
