<div class="messsage-view">
  <mat-tree
    #messageTree
    [dataSource]="dataSource"
    [treeControl]="treeControl"
    class="message-tree"
    [trackBy]="trackTree"
  >
    <!-- This is the tree node template for leaf nodes -->
    <mat-tree-node *matTreeNodeDef="let node" id="{{ node.id }}" matTreeNodePadding>
      <div class="node" [class.secondary-text]="isDisabled() || node.type === 'filtered'">
        <div class="node-info">
          <!-- use a disabled button to provide padding for tree leaf -->
          <button mat-icon-button disabled></button>
          <ng-container *ngTemplateOutlet="nodeIcon; context: { $implicit: node }"></ng-container>
          <ng-container *ngTemplateOutlet="nodeTitle; context: { $implicit: node }"></ng-container>
        </div>
        <ng-container *ngTemplateOutlet="rightMatter; context: { $implicit: node }"></ng-container>
      </div>
    </mat-tree-node>

    <!-- This is the tree node template for expandable nodes -->
    <mat-tree-node
      *matTreeNodeDef="let node; when: hasChild"
      id="{{ node.id }}"
      [ngClass]="node.type === 'message' ? 'root-node' : ''"
      matTreeNodePadding
    >
      <div class="node" [class.secondary-text]="isDisabled()">
        <div class="node-info">
          <button
            class="expand-button"
            *ngIf="node.type !== 'message'"
            mat-icon-button
            matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.name"
            [disabled]="isDisabled()"
          >
            <mat-icon class="mat-icon-rtl-mirror">
              {{ treeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}
            </mat-icon>
          </button>

          <!-- use a disabled button to provide padding for tree leaf -->
          <button *ngIf="node.type === 'message'" mat-icon-button disabled></button>
          <ng-container *ngTemplateOutlet="nodeIcon; context: { $implicit: node }"></ng-container>
          <ng-container *ngTemplateOutlet="nodeTitle; context: { $implicit: node }"></ng-container>
        </div>

        @if (node.type === "message" && !selectionActive()) {
          <button
            mat-icon-button
            [matMenuTriggerFor]="filterMenu"
            (click)="$event.stopPropagation()"
            aria-label="Filter"
            [disabled]="isDisabled()"
          >
            <mat-icon [class.material-icons-outlined]="activeFilters.length === 0">
              filter_alt
            </mat-icon>
          </button>
          <mat-menu #filterMenu="matMenu">
            @for (filter of availableFilters; track filter) {
              @if (filter.showIf?.() ?? true) {
                @if (filter.values) {
                  <button
                    mat-menu-item
                    [disabled]="hasFilter(filter)"
                    [matMenuTriggerFor]="filterValuesMenu"
                    [matMenuTriggerData]="{ filter }"
                  >
                    {{ filter.label }}
                  </button>
                } @else {
                  <button mat-menu-item [disabled]="hasFilter(filter)" (click)="addFilter(filter)">
                    {{ filter.label }}
                  </button>
                }
              }
            }
          </mat-menu>
          <button
            *ngIf="
              process()?.processState?.receive0501?.complete &&
              process()?.processState?.receive0503?.complete
            "
            mat-icon-button
            [matMenuTriggerFor]="menu"
            (click)="$event.stopPropagation()"
            [attr.aria-label]="'Menü öffnen für ' + node.name"
          >
            <mat-icon class="mat-icon-rtl-mirror">expand_more</mat-icon>
          </button>
          <mat-menu #menu="matMenu" class="message-tree-menu">
            @if (process()?.processState?.receive0501?.complete) {
              <a
                mat-menu-item
                [routerLink]="['/nachricht', process()?.processId, '0501']"
                [routerLinkActive]="['active']"
              >
                <mat-icon>assignment</mat-icon>
                <span
                  >Anbietung
                  <mat-icon class="active-checkmark">check</mat-icon>
                </span>
              </a>
            }
            @if (process()?.processState?.receive0503?.complete) {
              <a
                mat-menu-item
                [routerLink]="['/nachricht', process()?.processId, '0503']"
                [routerLinkActive]="['active']"
              >
                <mat-icon>assignment</mat-icon>
                <span
                  >Abgabe
                  <mat-icon class="active-checkmark">check</mat-icon>
                </span>
              </a>
            }
          </mat-menu>
        }
        <ng-container *ngTemplateOutlet="rightMatter; context: { $implicit: node }"></ng-container>
      </div>
      @if (node.type === "message" && activeFilters.length > 0) {
        <div class="filters">
          <mat-chip-set>
            @for (filter of activeFilters; track filter) {
              @if (filter.values) {
                <mat-chip-row
                  (removed)="removeFilter(filter)"
                  [matMenuTriggerFor]="filterValuesMenu"
                  [matMenuTriggerData]="{ filter }"
                >
                  {{ filter.label }}: {{ filter.value || "ohne Angabe" }}
                  <button matChipRemove [attr.aria-label]="'Filter ' + filter.label + 'entfernen'">
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip-row>
              } @else {
                <mat-chip-row (removed)="removeFilter(filter)" (click)="editFilter(filter)">
                  @if (filter.value && filter.printValue) {
                    {{ filter.label }}: {{ filter.printValue(filter.value) }}
                  } @else {
                    {{ filter.label }}
                  }
                  <button matChipRemove [attr.aria-label]="'Filter ' + filter.label + 'entfernen'">
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip-row>
              }
            }
          </mat-chip-set>
          @if (filtersHint) {
            <p class="filters-hint">{{ filtersHint }}</p>
          }
        </div>
      }
    </mat-tree-node>
  </mat-tree>

  <div *ngIf="process() && message() && !selectionActive()" class="actions">
    <button mat-flat-button (click)="copyMessageUrl()">
      <mat-icon>content_copy</mat-icon>
      <span>Objekt-Link kopieren</span>
    </button>
    <button
      mat-flat-button
      *ngIf="
        (message()?.messageType === '0501' && !process()?.processState?.appraisal?.complete) ||
        (message()?.messageType === '0503' && !process()?.processState?.archiving?.progress)
      "
      (click)="enableSelection()"
      [disabled]="hasUnresolvedError()"
    >
      <mat-icon>check_box</mat-icon>
      Mehrfachauswahl
    </button>
    <button
      mat-flat-button
      class="tertiary-button"
      *ngIf="message()?.messageType === '0501' && !process()?.processState?.appraisal?.complete"
      (click)="sendAppraisalMessage()"
      [disabled]="hasUnresolvedError()"
    >
      <mat-icon>forward_to_inbox</mat-icon>
      <span>Bewertung senden</span>
    </button>
    <button
      mat-flat-button
      class="tertiary-button"
      *ngIf="message()?.messageType === '0501' && process()?.processState?.appraisal?.complete"
      (click)="downloadAppraisalReport()"
    >
      <mat-icon>summarize</mat-icon>
      <span>Bewertungsbericht herunterladen</span>
    </button>
    <button
      mat-flat-button
      class="tertiary-button"
      *ngIf="
        message()?.messageType === '0503' &&
        (config()?.borgSupport === false ||
          process()?.processState?.formatVerification?.complete) &&
        !process()?.processState?.archiving?.taskState &&
        !process()?.processState?.archiving?.complete
      "
      (click)="archive0503Message()"
      [disabled]="hasUnresolvedError()"
    >
      <mat-icon>archive</mat-icon>
      <span>Abgabe archivieren</span>
    </button>
    <button
      mat-flat-button
      class="tertiary-button"
      *ngIf="message()?.messageType === '0503' && process()?.processState?.archiving?.complete"
      (click)="downloadSubmissionReport()"
    >
      <mat-icon>summarize</mat-icon>
      <span>Übernahmebericht herunterladen</span>
    </button>
  </div>

  @if (process() && message() && selectionActive()) {
    <div class="actions">
      <button class="abort-button" mat-button (click)="disableSelection()">Abbrechen</button>
      @if (message()?.messageType === "0501") {
        <button
          mat-flat-button
          (click)="setAppraisalForMultipleRecordObjects()"
          [disabled]="this.selectedNodes.size === 0"
        >
          <mat-icon>checklist</mat-icon>Bewerten
        </button>
      }
      @if (message()?.messageType === "0503") {
        <button
          mat-flat-button
          (click)="setPackagingForSelection()"
          [disabled]="this.selectedNodes.size === 0"
        >
          <mat-icon>inventory_2</mat-icon>Paketierungsebene wählen
        </button>
      }
    </div>
  }
</div>

<ng-template #nodeIcon let-node>
  <mat-icon *ngIf="node.type === 'message'" class="message-icon">assignment</mat-icon>
  <mat-icon *ngIf="node.type === 'file-group'" class="file-icon" svgIcon="folders"></mat-icon>
  <mat-icon *ngIf="node.type === 'file' || node.type === 'subfile'" class="file-icon"
    >folder</mat-icon
  >
  <mat-icon *ngIf="node.type === 'process-group'" class="process-icon" svgIcon="folders"></mat-icon>
  <mat-icon *ngIf="node.type === 'process' || node.type === 'subprocess'" class="process-icon"
    >folder</mat-icon
  >
  <mat-icon
    *ngIf="node.type === 'document-group'"
    class="document-icon"
    svgIcon="articles"
  ></mat-icon>
  <mat-icon *ngIf="node.type === 'document'" class="document-icon">article</mat-icon>
  <mat-icon *ngIf="node.type === 'attachment'" class="attachment-icon">attach_file</mat-icon>
</ng-template>

<ng-template #nodeTitle let-node>
  <div class="node-title">
    <div class="node-title-line">
      {{ node.title }}
      @if (node.type !== "filtered" && !node.type?.endsWith("group")) {
        <button
          class="overlay-button"
          mat-button
          [routerLink]="node.routerLink"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
          [disabled]="isDisabled()"
        ></button>
      }
    </div>
    <div *ngIf="node.subtitle" class="node-subtitle-line">{{ node.subtitle }}</div>
  </div>
</ng-template>

<ng-template #rightMatter let-node>
  @if (message()?.messageType === "0501" && node.canBeAppraised) {
    <span class="appraisal-symbol" *ngIf="getAppraisal(node) as appraisal">{{
      appraisal.decision | recordAppraisal
    }}</span>
  }
  @if (message()?.messageType === "0503" && getPackaging(node); as packaging) {
    <span class="packaging-indicator">
      @switch (packaging.decision) {
        @case ("single") {
          <mat-icon
            matTooltip="Das Schriftgutobjekt ist zur Bildung eines einzelnen Archivpakets vorgemerkt."
            >inventory_2</mat-icon
          >
        }
        @case ("sub") {
          @if (packaging.stats) {
            @if (packaging.stats.subfiles > 0) {
              <span class="files-count">{{ packaging.stats.subfiles }}</span>
            }
            @if (packaging.stats.processes > 0) {
              <span class="processes-count">{{ packaging.stats.processes }}</span>
            }
            @if (packaging.stats.other > 0) {
              <span class="other-count">{{ packaging.stats.other }}</span>
            }
            <mat-icon
              svgIcon="boxes"
              matTooltip="Das Schriftgutobjekt ist zur Aufteilung in folgende Archivpakete vorgemerkt: {{
                packaging.stats | packagingStats
              }}."
            ></mat-icon>
          }
        }
      }
    </span>
  }
  @if (selectionActive()) {
    <!-- Draw checkboxes even if not selectable to take up space, so packaging
    indicators are aligned equally. -->
    <mat-checkbox
      [checked]="selectedNodes.has(node.id)"
      [indeterminate]="intermediateNodes.has(node.id)"
      (click)="$event.stopPropagation()"
      (change)="selectItem($event.checked, node.id)"
      [aria-label]="node.title"
      [class.hidden]="!node.selectable"
      [disabled]="!node.selectable"
    ></mat-checkbox>
  }
</ng-template>

<ng-template #lifetimeFilterDialog let-value>
  <h2 mat-dialog-title>Filtern nach Laufzeit</h2>
  <mat-dialog-content class="lifetime-filter-content">
    <mat-radio-group #mode="matRadioGroup" [value]="value?.mode ?? 'lifetime'">
      <mat-radio-button value="lifetime">
        Objekte, deren Laufzeit (teilweise) innerhalb des folgenden Zeitraums liegt
      </mat-radio-button>
      <div class="hbox">
        <mat-form-field>
          <mat-label> Von </mat-label>
          <mat-select
            #from
            [value]="value?.from"
            (selectionChange)="to.value = Math.max($event.value, to.value ?? $event.value)"
            [disabled]="mode.value !== 'lifetime'"
          >
            @for (year of lifetimeYears(); track year) {
              <mat-option [value]="year">{{ year }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label> Bis </mat-label>
          <mat-select
            #to
            [value]="value?.to"
            (selectionChange)="from.value = Math.min($event.value, from.value ?? $event.value)"
            [disabled]="mode.value !== 'lifetime'"
          >
            @for (year of lifetimeYears(); track year) {
              <mat-option [value]="year">{{ year }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <mat-radio-button value="missing">Objekte ohne Angabe einer Laufzeit</mat-radio-button>
    </mat-radio-group>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Abbrechen</button>
    <button
      mat-button
      [disabled]="mode.value === 'lifetime' && !from.value"
      [mat-dialog-close]="{
        from: from.value,
        to: to.value,
        mode: mode.value,
      }"
    >
      Ok
    </button>
  </mat-dialog-actions>
</ng-template>

<mat-menu #filterValuesMenu="matMenu">
  <ng-template matMenuContent let-filter="filter">
    @for (value of filter.values(); track value) {
      <button mat-menu-item (click)="setFilterValue(filter, value)">
        @if (value) {
          {{ value }}
        } @else {
          <em>Ohne Angabe</em>
        }
        @if (value === filter.value) {
          <mat-icon matIconSuffix>check</mat-icon>
        }
      </button>
    }
  </ng-template>
</mat-menu>
