<h1>Prozesse ({{ dataSource.data.length }})</h1>

<mat-table [dataSource]="dataSource" matSort [trackBy]="trackTableRow">
  <!-- State Column -->
  <ng-container matColumnDef="state">
    <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
    <mat-cell *matCellDef="let element">
      @switch (element.state) {
        @case ("running") {
          <mat-spinner diameter="24"></mat-spinner>
        }
        @case ("succeeded") {
          <mat-icon class="succeeded">check</mat-icon>
        }
        @case ("failed") {
          <mat-icon class="failed">close</mat-icon>
        }
      }
    </mat-cell>
  </ng-container>

  <!-- Type Column -->
  <ng-container matColumnDef="type">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Prozess</mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element | taskTitle }}
    </mat-cell>
  </ng-container>

  <!-- Process Column -->
  <ng-container matColumnDef="process">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Aussonderung</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <a mat-button target="_blank" [routerLink]="['/nachricht', element.process.id]">
        <mat-icon>open_in_new</mat-icon>
        {{ element.process.id }}</a
      >
    </mat-cell>
  </ng-container>

  <!-- CreatedAt Column -->
  <ng-container matColumnDef="createdAt">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Gestartet</mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.createdAt | date: "short" }}
    </mat-cell>
  </ng-container>

  <!-- UpdatedAt Column -->
  <ng-container matColumnDef="updatedAt">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Beendet</mat-header-cell>
    <mat-cell *matCellDef="let element">
      @if (element.state !== "running") {
        {{ element.updatedAt | date: "short" }}
      }
    </mat-cell>
  </ng-container>

  <!-- ErrorMessage Column -->
  <ng-container matColumnDef="errorMessage">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Fehler</mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.errorMessage }}
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
