@import "../../../../styles/mixins.scss";

mat-table {
  @include tableBorder;
}

.mat-mdc-row {
  position: relative;
}

.open-details-button {
  @include overlayButton;
  border-radius: 0;
}

.cdk-column-actions {
  box-sizing: content-box;
  flex: 0 0 24px;
  button {
    z-index: 1;
  }
}

.cdk-column-state {
  box-sizing: content-box;
  flex: 0 0 24px;
}

.cdk-column-createdAt {
  flex: 0 0 10em;
}

.cdk-column-updatedAt {
  flex: 0 0 10em;
}

a {
  margin: -10px -12px;
  mat-icon {
    flex-shrink: 0;
  }
}
