<div class="metadata-section">

    <form *ngIf="documentRecordObject" [formGroup]="form">
  
      <!--<h2>{{structureNode.displayText.title}} - {{structureNode.displayText.subtitle}}</h2> -->
    
      <mat-accordion multi>
    
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Allgemeine Metadaten
            </mat-panel-title>
          </mat-expansion-panel-header>
    
          <div class="metadata">
            <div class="metadata-row">
              <mat-form-field class="record-plan-id-input" appearance="outline">
                <mat-label>Aktenplanschlüssel</mat-label>
                <input matInput formControlName="recordPlanId" readonly>
              </mat-form-field>
    
              <mat-form-field class="document-id-input" appearance="outline">
                <mat-label>Kennzeichen</mat-label>
                <input matInput formControlName="fileId" readonly>
              </mat-form-field>
            </div>

            <div class="metadata-row">
              <mat-form-field class="subject-input" appearance="outline">
                <mat-label>Betreff</mat-label>
                <input matInput formControlName="subject" readonly>
              </mat-form-field>
    
              <mat-form-field class="document-type-input" appearance="outline">
                <mat-label>Dokumenttyp</mat-label>
                <input matInput formControlName="documentType" readonly>
              </mat-form-field>
            </div>

            <div class="metadata-row">
              <mat-form-field class="incoming-date-input" appearance="outline">
                <mat-label>Posteingangsdatum</mat-label>
                <input matInput formControlName="incomingDate" readonly>
              </mat-form-field>
    
              <mat-form-field class="outgoing-date-input" appearance="outline">
                <mat-label>Postausgangsdatum</mat-label>
                <input matInput formControlName="outgoingDate" readonly>
              </mat-form-field>

              <mat-form-field class="document-date-input" appearance="outline">
                <mat-label>Datum des Schreibens</mat-label>
                <input matInput formControlName="documentDate" readonly>
              </mat-form-field>
            </div>
          </div>
        </mat-expansion-panel>
    
      </mat-accordion>
    
    </form>
  
  </div>