.metadata-section {
  padding: 2em;
  .metadata {
    display: flex;
    flex-direction: column;

    .metadata-row {
      display: flex;
      flex-direction: row;
      column-gap: 1.5em;
    }

    .appraisal-input {
      width: 10em;
    }

    .record-plan-id-input {
      width: 15em;
    }

    .record-plan-subject-input {
      flex-grow: 1;
    }

    .document-id-input {
      width: 15em;
    }

    .subject-input {
      flex-grow: 1;
    }

    .document-type-input {
      flex-grow: 1;
    }

    .medium-input {
      flex-grow: 1;
    }

    .confidentiality-input {
      flex-grow: 1;
    }

    .incoming-date-input {
      flex-grow: 1;
    }

    .outgoing-date-input {
      flex-grow: 1;
    }

    .document-date-input {
      flex-grow: 1;
    }
  }
}
