# allow project files
!/angular.json
!/pnpm-lock.yaml
!/package.json
!/pnpm-workspace.yaml
!/README.md
!/tsconfig.app.json
!/tsconfig.json
!/tsconfig.spec.json
!/src/proxy.conf.mjs

# allow source code
!/src/**/*.ts
!/src/**/*.html
!/src/**/*.scss

# allow assets
!/public/**/*.*

# allow dockerfile
!Dockerfile

# allow build files
!/build/**/*

# ignore even globally allowed files in node_modules
node_modules