# allow project files
!/.editorconfig
!/angular.json
!/package-lock.json
!/package.json
!/README.md
!/tsconfig.app.json
!/tsconfig.json
!/tsconfig.spec.json
!/src/proxy.conf.mjs

# allow source code
!/src/**/*.ts
!/src/**/*.html
!/src/**/*.scss

# allow assets
!/src/assets/**/*.*

# allow dockerfile
!Dockerfile

# allow build files
!/build/**/*

# ignore even globally allowed files in node_modules
node_modules