<h2>Aussonderungen</h2>
<div class="process-section">
    <div class="process-table mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort matSortActive="receivedAt" matSortDirection="desc">
    
        <!-- creation time Column -->
        <ng-container matColumnDef="receivedAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Eingang</th>
            <td mat-cell *matCellDef="let process"> {{process.receivedAt | date:'short'}} </td>
        </ng-container>
    
        <!-- agency Column -->
        <ng-container matColumnDef="institution">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Abgebende Stelle</th>
            <td mat-cell *matCellDef="let process"> {{process.institution}} </td>
        </ng-container>

        <!-- appraisal complete Column -->
        <!-- <ng-container matColumnDef="appraisalComplete">
            <th mat-header-cell class="task-header" *matHeaderCellDef mat-sort-header>Bewertung abgeschlossen</th>
            <td mat-cell class="task-cell" *matCellDef="let process">
                <ng-container *ngIf="process.appraisalComplete; then appraisalComplete; else appraisalNotComplete"></ng-container>
                <ng-template #appraisalComplete>
                    <mat-icon>check</mat-icon>
                </ng-template>
                <ng-template #appraisalNotComplete>
                    <mat-icon>close</mat-icon>
                </ng-template>
            </td>
        </ng-container> -->

        <!-- actions column -->
        <ng-container matColumnDef="actions" stickyEnd>
            <th mat-header-cell *matHeaderCellDef>Aktionen</th>
            <td mat-cell *matCellDef="let message">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-hidden="false" aria-label="Aktionen für Nachricht anzeigen">
                    <mat-icon>more_horiz</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <!-- <div *ngIf="message.appraisalComplete; then showMessageMenuItem else appraiseMessageMenuItem"></div>
                    <ng-template #showMessageMenuItem>
                        <button mat-menu-item [routerLink]="['/nachricht', message.id, 'details']">
                            <mat-icon>search</mat-icon>
                            <span>Details anzeigen</span>
                        </button>
                    </ng-template>
                    <ng-template #appraiseMessageMenuItem>
                        <button mat-menu-item [routerLink]="['/nachricht', message.id, 'details']">
                            <mat-icon>checklist</mat-icon>
                            <span>Bewerten</span>
                        </button>
                    </ng-template> -->
                </mat-menu>
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        </table>
    
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Anbietung auswählen"></mat-paginator>
    </div>
</div>