<div class="process-section">
    <div class="process-table mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort matSortActive="receivedAt" matSortDirection="desc">
    
        <!-- creation time column -->
        <ng-container matColumnDef="receivedAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Eingang</th>
            <td mat-cell *matCellDef="let process"> {{process.receivedAt | date:'short'}} </td>
        </ng-container>
    
        <!-- agency column -->
        <ng-container matColumnDef="institution">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Abgebende Stelle</th>
            <td mat-cell *matCellDef="let process"> {{process.institution}} </td>
        </ng-container>

        <!-- 0501 message column -->
        <ng-container matColumnDef="message0501">
            <th mat-header-cell class="task-header" *matHeaderCellDef mat-sort-header>Anbietung erhalten</th>
            <td mat-cell class="task-cell" *matCellDef="let process">
                <mat-icon *ngIf="process.message0501">check</mat-icon>
            </td>
        </ng-container>

        <!-- appraisal complete column -->
        <ng-container matColumnDef="appraisalComplete">
            <th mat-header-cell class="task-header" *matHeaderCellDef mat-sort-header>Bewertung abgeschlossen</th>
            <td mat-cell class="task-cell" *matCellDef="let process">
                <mat-icon *ngIf="process.message0501?.appraisalComplete">check</mat-icon>
            </td>
        </ng-container>

        <!-- dms received 0502 column -->
        <ng-container matColumnDef="received0502">
            <th mat-header-cell class="task-header" *matHeaderCellDef mat-sort-header>Bewertung in VIS importiert</th>
            <td mat-cell class="task-cell" *matCellDef="let process">
                <mat-icon *ngIf="process.message0501 && process.message0503">check</mat-icon>
            </td>
        </ng-container>

        <!-- 0503 message column -->
        <ng-container matColumnDef="message0503">
            <th mat-header-cell class="task-header" *matHeaderCellDef mat-sort-header>Abgabe erhalten</th>
            <td mat-cell class="task-cell" *matCellDef="let process">
                <mat-icon *ngIf="process.message0503">check</mat-icon>
            </td>
        </ng-container>

        <!-- archiving complete column -->
        <ng-container matColumnDef="archivingComplete">
            <th mat-header-cell class="task-header" *matHeaderCellDef mat-sort-header>Abgabe archiviert</th>
            <td mat-cell class="task-cell" *matCellDef="let process">
                <mat-icon *ngIf="process.archivingComplete">check</mat-icon>
            </td>
        </ng-container>

        <!-- actions column -->
        <ng-container matColumnDef="actions" stickyEnd>
            <th mat-header-cell *matHeaderCellDef>Aktionen</th>
            <td mat-cell *matCellDef="let process">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-hidden="false" aria-label="Aktionen für Nachricht anzeigen">
                    <mat-icon>more_horiz</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <ng-container *ngIf="process.message0501 && process.message0501.appraisalComplete">
                        <button mat-menu-item [routerLink]="['/nachricht', process.message0501.id, 'details']">
                            <mat-icon>search</mat-icon>
                            <span>Anbietung anzeigen</span>
                        </button>
                    </ng-container>
                    <ng-container *ngIf="process.message0501 && !process.message0501.appraisalComplete">
                        <button mat-menu-item [routerLink]="['/nachricht', process.message0501.id, 'details']">
                            <mat-icon>checklist</mat-icon>
                            <span>Anbietung bewerten</span>
                        </button>
                    </ng-container>
                    <ng-container *ngIf="process.message0503 && process.message0503.archivingComplete">
                        <button mat-menu-item [routerLink]="['/nachricht', process.message0503.id, 'details']">
                            <mat-icon>search</mat-icon>
                            <span>Abgabe anzeigen</span>
                        </button>
                    </ng-container>
                    <ng-container *ngIf="process.message0503 && !process.message0503.archivingComplete">
                        <button mat-menu-item [routerLink]="['/nachricht', process.message0503.id, 'details']">
                            <mat-icon>edit_note</mat-icon>
                            <span>Abgabe bearbeiten</span>
                        </button>
                    </ng-container>
                </mat-menu>
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        </table>
    
        <mat-paginator [pageSizeOptions]="[5, 10, 25]" aria-label="Anbietung auswählen"></mat-paginator>
    </div>
</div>