:host {
  display: flex;
  flex-direction: column;
  padding: 3em;
  @media (min-width: 1600px) {
    padding-left: 5em;
    padding-right: 5em;
  }
}

.filters {
  display: flex;
  gap: 1em;
  .string-field {
    flex-grow: 1;
  }
  .institution-field {
    width: 400px;
  }
  .status-field {
    width: 400px;
  }
}

.table-container {
  overflow-x: auto;
}

.mat-mdc-header-cell,
.mat-mdc-cell {
  min-width: 140px;
}

.mat-mdc-cell.cdk-column-note {
  --mdc-outlined-text-field-hover-outline-color: var(--mdc-outlined-text-field-outline-color);
  overflow: visible;
  z-index: 1;
  mat-form-field {
    margin: 0 -16px;
    flex-grow: 1;
    font-size: unset;
    &:not(:focus-within):not(:hover) {
      --mdc-outlined-text-field-outline-color: transparent;
    }
    ::ng-deep {
      .mat-mdc-form-field-subscript-wrapper {
        display: none;
      }
      .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
        padding-top: 8px;
        padding-bottom: 8px;
      }
      .mat-mdc-form-field-infix {
        min-height: 0;
        width: unset;
      }
    }
  }
}

.cdk-column-actions {
  min-width: 8em;
  flex-grow: 0;
}

.task-cell {
  display: flex;
  align-items: center;
  column-gap: 1em;

  mat-icon {
    flex-shrink: 0;
    font-weight: 600;
  }
}

.task-completion-time {
  color: gray;
}

.progress-cell {
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: 400;

  mat-spinner {
    margin-left: 1em;
  }
}
