<div class="row">
  <h1>Aussonderungen ({{ dataSource.data.length }})</h1>
  @if (isAdmin) {
    <mat-slide-toggle [formControl]="allUsersControl">Für alle Mitarbeiter anzeigen</mat-slide-toggle>
  }
</div>
<form [formGroup]="filter" class="filters">
  <mat-form-field class="string-field">
    <mat-label>Filtern</mat-label>
    <input matInput formControlName="string" />
  </mat-form-field>
  <mat-form-field class="institution-field">
    <mat-label>Abgebende Stelle</mat-label>
    <mat-select formControlName="institution">
      <mat-option>Alle anzeigen ({{ getElementsForInstitution($any("")) }})</mat-option>
      @for (value of institutions; track value) {
        <mat-option [value]="value" [disabled]="getElementsForInstitution(value) === 0"
          >{{ value }} ({{ getElementsForInstitution(value) }})</mat-option
        >
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field class="status-field">
    <mat-label>Status</mat-label>
    <mat-select formControlName="state">
      <mat-option>Alle anzeigen ({{ getElementsForState($any("")) }})</mat-option>
      @for (value of stateValues; track value) {
        <mat-option [value]="value.value" [disabled]="getElementsForState(value.value) === 0"
          >{{ value.viewValue }} ({{ getElementsForState(value.value) }})</mat-option
        >
      }
    </mat-select>
  </mat-form-field>
</form>

<div class="mat-elevation-z8">
  <div class="table-container">
    <mat-table
      [dataSource]="dataSource"
      [trackBy]="trackProcess"
      matSort
      matSortActive="receivedAt"
      matSortDirection="desc"
    >
      <!-- agency column -->
      <ng-container matColumnDef="institution">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Abgebende Stelle</mat-header-cell>
        <mat-cell *matCellDef="let process">
          {{ process.institution }}
          <a
            mat-button
            class="open-details-button"
            aria-label="Details anzeigen"
            [routerLink]="['/nachricht', process?.message0503?.id ?? process?.message0501?.id, 'details']"
          ></a>
        </mat-cell>
      </ng-container>

      <!-- note column -->
      <ng-container matColumnDef="note">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Notiz</mat-header-cell>
        <mat-cell *matCellDef="let process">{{ process.note }}</mat-cell>
      </ng-container>

      <!-- 0501 message column -->
      <ng-container matColumnDef="message0501">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Anbietung erhalten</mat-header-cell>
        <mat-cell *matCellDef="let process">
          <div *ngIf="process.processState.receive0501.complete" class="task-cell">
            <mat-icon>check</mat-icon>
            <span class="task-completion-time">
              {{ process.processState.receive0501.completionTime | date: "short" }}
            </span>
          </div>
        </mat-cell>
      </ng-container>

      <!-- appraisal complete column -->
      <ng-container matColumnDef="appraisalComplete">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Bewertung abgeschlossen</mat-header-cell>
        <mat-cell *matCellDef="let process">
          <div *ngIf="process.processState.appraisal.complete" class="task-cell">
            <mat-icon>check</mat-icon>
            <span class="task-completion-time">
              {{ process.processState.appraisal.completionTime | date: "short" }}
            </span>
          </div>
        </mat-cell>
      </ng-container>

      <!-- dms received 0502 column -->
      <ng-container matColumnDef="received0502">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Bewertung in VIS importiert</mat-header-cell>
        <mat-cell *matCellDef="let process">
          <div *ngIf="process.processState.receive0505.complete" class="task-cell">
            <mat-icon>check</mat-icon>
            <span class="task-completion-time">
              {{ process.processState.receive0505.completionTime | date: "short" }}
            </span>
          </div>
        </mat-cell>
      </ng-container>

      <!-- 0503 message column -->
      <ng-container matColumnDef="message0503">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Abgabe erhalten</mat-header-cell>
        <mat-cell *matCellDef="let process">
          <div *ngIf="process.processState.receive0503.complete" class="task-cell">
            <mat-icon>check</mat-icon>
            <span class="task-completion-time">
              {{ process.processState.receive0503.completionTime | date: "short" }}
            </span>
          </div>
        </mat-cell>
      </ng-container>

      <!-- format verification column -->
      <ng-container matColumnDef="formatVerification">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Formatverifikation abgeschlossen</mat-header-cell>
        <mat-cell *matCellDef="let process">
          <div *ngIf="process.processState.formatVerification.complete" class="task-cell">
            <mat-icon>check</mat-icon>
            <span class="task-completion-time">
              {{ process.processState.formatVerification.completionTime | date: "short" }}
            </span>
          </div>
          <div
            *ngIf="process.processState.formatVerification.started && !process.processState.formatVerification.complete"
            class="progress-cell"
          >
            {{ process.processState.formatVerification.itemCompletetCount }}/{{
              process.processState.formatVerification.itemCount
            }}
            <mat-spinner diameter="25"></mat-spinner>
          </div>
        </mat-cell>
      </ng-container>

      <!-- archiving complete column -->
      <ng-container matColumnDef="archivingComplete">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Abgabe archiviert</mat-header-cell>
        <mat-cell *matCellDef="let process">
          <div *ngIf="process.processState.archiving.complete" class="task-cell">
            <mat-icon>check</mat-icon>
            <span class="task-completion-time">
              {{ process.processState.archiving.completionTime | date: "short" }}
            </span>
          </div>
          <div
            *ngIf="process.processState.archiving.started && !process.processState.archiving.complete"
            class="progress-cell"
          >
            Archivierung läuft
            <mat-spinner diameter="25"></mat-spinner>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>

  <mat-paginator [pageSizeOptions]="[5, 10, 25]" aria-label="Anbietung auswählen"></mat-paginator>
</div>
