:host {
  display: block;
  padding-top: 3em;
  padding-bottom: 3em;
  padding-left: 5em;
  padding-right: 5em;
  overflow: auto;

  .process-section {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
  
    .process-table {
      width: 100%;
      min-width: 80em;
      max-width: 150em;

      .task-cell {
        display: flex;
        align-items: center;
        column-gap: 1.0em;

        mat-icon {
          font-weight: 600;
        }

        // .task-completion-time {
        //   color: gray;
        // }
      }

      .progress-cell {
        width: 100%;
        display: flex;
        justify-content: center;
        font-weight: 400;

        mat-spinner {
          margin-left: 1.0em;
        }
      }
    }
  }
}