<div class="metadata-section">
  <form *ngIf="documentRecordObject" [formGroup]="form">
    <mat-accordion multi>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title> Metadaten </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="metadata">
          <div class="metadata-row">
            <mat-form-field class="record-plan-id-input" floatLabel="always">
              <mat-label>Aktenplanschlüssel</mat-label>
              <input matInput formControlName="recordPlanId" readonly />
            </mat-form-field>

            <mat-form-field class="document-id-input" floatLabel="always">
              <mat-label>Geschäftszeichen</mat-label>
              <input matInput formControlName="fileId" readonly />
            </mat-form-field>
          </div>

          <mat-form-field class="subject-input" floatLabel="always">
            <mat-label>Behördlicher Dokumentenbetreff</mat-label>
            <input matInput formControlName="subject" readonly />
          </mat-form-field>

          <div class="metadata-row">
            <mat-form-field class="document-type-input" floatLabel="always">
              <mat-label>Dokumenttyp</mat-label>
              <input matInput formControlName="documentType" readonly />
            </mat-form-field>
            <mat-form-field class="medium-input" floatLabel="always">
              <mat-label>Medium</mat-label>
              <input matInput formControlName="medium" readonly />
            </mat-form-field>
            <mat-form-field class="confidentiality-input" floatLabel="always">
              <mat-label>Vertraulichkeitsstufe</mat-label>
              <input matInput formControlName="confidentiality" readonly />
            </mat-form-field>
          </div>

          <div class="metadata-row">
            <mat-form-field class="incoming-date-input" floatLabel="always">
              <mat-label>Posteingangsdatum</mat-label>
              <input matInput formControlName="incomingDate" readonly />
            </mat-form-field>

            <mat-form-field class="outgoing-date-input" floatLabel="always">
              <mat-label>Postausgangsdatum</mat-label>
              <input matInput formControlName="outgoingDate" readonly />
            </mat-form-field>

            <mat-form-field class="document-date-input" floatLabel="always">
              <mat-label>Datum des Schreibens</mat-label>
              <input matInput formControlName="documentDate" readonly />
            </mat-form-field>
          </div>
        </div>
      </mat-expansion-panel>

      <app-document-version-metadata
        *ngIf="this.documentRecordObject?.versions?.length !== 0"
        [document]="documentRecordObject"
      ></app-document-version-metadata>
    </mat-accordion>
  </form>
</div>
