<div class="metadata-section">
  <form *ngIf="message" [formGroup]="form">
    <mat-accordion multi>
      <mat-expansion-panel
        [expanded]="hasUnresolvedError()"
        [class.archiving-complete]="process?.processState?.archiving?.complete"
        [class.unresolved-error]="hasUnresolvedError()"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>Status</mat-panel-title>
          @if (process) {
            <mat-panel-description>
              @if (hasUnresolvedError()) {
                @if (numberOfUnresolvedErrors() === 1) {
                  1 ungelöstes Problem
                } @else {
                  {{ numberOfUnresolvedErrors() }} ungelöste Probleme
                }
              } @else if (process.processState.archiving.complete) {
                Abgabe archiviert
              } @else if (process.processState.archiving.started) {
                Archivierung läuft...
              } @else if (process.processState.formatVerification.complete) {
                Formatverifikation abgeschlossen
              } @else if (process.processState.formatVerification.started) {
                Formatverifikation läuft...
              } @else if (process.processState.receive0503.complete) {
                Abgabe erhalten
              } @else if (process.processState.receive0505.complete) {
                Bewertung in VIS importiert
              } @else if (process.processState.appraisal.complete) {
                Bewertung abgeschlossen
              } @else if (process.processState.receive0501.complete) {
                Anbietung erhalten
              }
            </mat-panel-description>
          }
        </mat-expansion-panel-header>
        <mat-list>
          @for (item of stateItems; track $index) {
            <mat-list-item>
              @if (item.icon === "spinner") {
                <mat-spinner matListItemIcon diameter="24"></mat-spinner>
              } @else {
                <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
              }
              <div matListItemTitle>{{ item.title }}</div>
              @if (item.message) {
                <div matListItemLine>{{ item.message }}</div>
              } @else {
                <div matListItemLine>{{ item.date | date: "medium" }}</div>
              }
            </mat-list-item>
          }
          @if (processDeleteTime) {
            <mat-list-item>
              <mat-icon matListItemIcon>auto_delete</mat-icon>
              <div matListItemTitle>Zur Löschung vorgemerkt</div>
              <div matListItemLine>ab {{ processDeleteTime | date: "medium" }}</div>
            </mat-list-item>
          }
        </mat-list>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title> Metadaten </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="metadata-row">
          <mat-form-field class="process-id-input" floatLabel="always">
            <mat-label>Prozess-ID</mat-label>
            <input matInput formControlName="processID" readonly />
          </mat-form-field>
          <mat-form-field class="creation-time-input" floatLabel="always">
            <mat-label>Erstellungszeitpunkt</mat-label>
            <input matInput formControlName="creationTime" readonly />
          </mat-form-field>
          <mat-form-field class="xdomea-version-input" floatLabel="always">
            <mat-label>xdomea Version</mat-label>
            <input matInput formControlName="xdomeaVersion" readonly />
          </mat-form-field>
        </div>
        <div class="metadata-row">
          <mat-form-field class="note-input" floatLabel="always">
            <mat-label>Notiz</mat-label>
            <input matInput formControlName="note" (keydown.enter)="saveNote()" (blur)="saveNote()" />
            <mat-icon matSuffix>edit</mat-icon>
          </mat-form-field>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title> Sender </mat-panel-title>
        </mat-expansion-panel-header>
        <app-institution-metadata [institution]="message.messageHead.sender.institution"></app-institution-metadata>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title> Empfänger </mat-panel-title>
        </mat-expansion-panel-header>
        <app-institution-metadata [institution]="message.messageHead.receiver.institution"></app-institution-metadata>
      </mat-expansion-panel>
      @if (isAdmin) {
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Administration</mat-panel-title>
          </mat-expansion-panel-header>
          <button mat-flat-button color="warn" class="delete-button" (click)="deleteProcess()">
            <mat-icon>delete</mat-icon>
            <span>Aussonderung löschen</span>
          </button>
        </mat-expansion-panel>
      }
    </mat-accordion>
  </form>
</div>

<ng-template #deleteDialog>
  <h3 mat-dialog-title>Aussonderung löschen?</h3>
  <div mat-dialog-content>
    <p>Möchten Sie die Aussonderung und alle zugehörigen Transfernachrichten löschen?</p>
  </div>
  <div mat-dialog-actions>
    <button mat-flat-button color="warn" [mat-dialog-close]="true">Löschen</button>
    <button mat-button mat-dialog-close>Abbrechen</button>
  </div>
</ng-template>
