:host {
  display: block;
  padding: 2em;

  .metadata-section {
    min-width: 60em;
    max-width: 80em;

    .metadata-row {
      display: flex;
      flex-direction: row;
      column-gap: 1.5em;
    }

    .process-id-input {
      flex-grow: 1;
    }
  }
}
