@use "sass:map";
@use "@angular/material" as mat;

:host {
  display: grid;
  height: 100%;
  color: white;
  background-color: mat.get-color-from-palette(mat.$indigo-palette, 700);
  --mat-divider-color: rgba(255, 255, 255, 0.3);
}

.container {
  margin: auto;
  max-width: 500px;
  text-align: center;
}

mat-divider {
  margin-bottom: 1em;
}
