<mat-sidenav-container>

    <mat-sidenav mode="side" opened>
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="message-tree">

          <!-- This is the tree node template for leaf nodes -->
          <mat-tree-node *matTreeNodeDef="let node" id="{{ node.id }}" matTreeNodePadding >
            
            <div class="node" [routerLink]="node.routerLink" [routerLinkActive]="['active']">
              <div class="node-info">
                <!-- use a disabled button to provide padding for tree leaf -->
                <button mat-icon-button disabled></button>
                <mat-icon *ngIf="node.type === 'file'" class="file-icon">
                  folder
                </mat-icon>
                <mat-icon *ngIf="node.type === 'process'" class="process-icon">
                  folder
                </mat-icon>
                <mat-icon *ngIf="node.type === 'document'" class="document-icon">
                  article
                </mat-icon>
                <div class="node-title">
                  <div class="node-title-line">
                    {{node.displayText.title}}
                  </div>
                  <div class="node-subtitle-line">{{node.displayText.subtitle}}</div>
                </div>
              </div>
              <div *ngIf="showAppraisal" class="node-appraisal">
                <span class="spacer"></span>
                <span *ngIf="node.appraisal === 'A' || node.appraisal === 'V'">{{ node.appraisal}}</span>
              </div>
            </div>

          </mat-tree-node>
          
          <!-- This is the tree node template for expandable nodes -->
          <mat-tree-node *matTreeNodeDef="let node; when: hasChild" id="{{ node.id }}" matTreeNodePadding>
            
            <div class="node" [routerLink]="node.routerLink" [routerLinkActive]="['active']">
              <div class="node-info">
                <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
                  <mat-icon class="mat-icon-rtl-mirror">
                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                  </mat-icon>
                </button>
                <mat-icon *ngIf="node.type === 'file'" class="file-icon">
                  folder
                </mat-icon>
                <mat-icon *ngIf="node.type === 'process'" class="process-icon">
                  folder
                </mat-icon>
                <mat-icon *ngIf="node.type === 'document'" class="document-icon">
                  article
                </mat-icon>
                <div class="node-title">
                  <div class="node-title-line">
                    {{node.displayText.title}}
                  </div>
                  <div class="node-subtitle-line">{{node.displayText.subtitle}}</div>
                </div>
              </div>
              <div *ngIf="node.type === 'message'" class="message-menu">
                <span class="spacer"></span>
                <button mat-icon-button [matMenuTriggerFor]="menu" [disableRipple]="true">
                  <mat-icon>more_horiz</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button *ngIf="!message?.appraisalComplete" mat-menu-item (click)="sendAppraisalMessage()">
                    <mat-icon>forward_to_inbox</mat-icon>
                    <span>Bewertung senden</span>
                  </button>
                  <button *ngIf="message?.messageType?.code === '0503'" mat-menu-item>
                    <mat-icon>archive</mat-icon>
                    <span>Abgabe archivieren</span>
                  </button>
                </mat-menu>
              </div>
              <div *ngIf="showAppraisal && node.type !== 'message'" class="node-appraisal">
                <span class="spacer"></span>
                <span *ngIf="node.appraisal === 'A' || node.appraisal === 'V'">{{ node.appraisal}}</span>
              </div>
            </div>

          </mat-tree-node>
            
          </mat-tree>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
    
</mat-sidenav-container>