@use "sass:map";
@use "@angular/material" as mat;

.appraisal-form {
  display: flex;
  flex-direction: column;
}

.appraisal-input {
  margin-top: 1em;
  width: 22.5em;
}

.internal-appraisal-note {
  width: 100%;
}
