# allwo readme
!README.md

# allow go project files
!/go.mod
!/go.sum

# allow go source code
!/**/*.go

# allow database init script
!/database/init_database.sql

# allow database dockerfile
!/database/dockerfile_database

# allow xdomea xml schemas
!/xsd/**/*.xsd

# allow server dockerfile
!Dockerfile