# allwo readme
!README.md

# allow go project files
!/go.mod
!/go.sum

# allow go source code
!/**/*.go

# allow build files
!/build/package/**/*

# allow xdomea xml schemas
!/xsd/**/*.xsd

# allow server dockerfile
!Dockerfile
