<h1 mat-dialog-title>Abgabe archivieren</h1>

<mat-dialog-content>
  <p>
    Wollen Sie die Abgabe archivieren? Der Archivierungsprozess kann, nach dem er gestartet wurde,
    nicht mehr umgekehrt werden.
  </p>
  <p>
    Der Archivierungsprozess kann mehrere Minuten dauern. Sie können diesen Dialog schließen. Der
    Prozess wird weiter durchgeführt. Sie können den aktuellen Stand weiter in der Gesamtübersicht
    der Aussonderungen sehen.
  </p>
  <p>Folgende Archivpakete werden angelegt:</p>
  <ul>
    @if (packagingStats.files === 1) {
      <li>1 Akte</li>
    } @else if (packagingStats.files > 1) {
      <li>{{ packagingStats.files }} Akten</li>
    }
    @if (packagingStats.subfiles === 1) {
      <li>1 Teilakte</li>
    } @else if (packagingStats.subfiles > 1) {
      <li>{{ packagingStats.subfiles }} Teilakten</li>
    }
    @if (packagingStats.processes === 1) {
      <li>1 Vorgang</li>
    } @else if (packagingStats.processes > 1) {
      <li>{{ packagingStats.processes }} Vorgänge</li>
    }
    @if (packagingStats.other === 1) {
      <li>1 Sammelpaket für nicht zugeordnete Dokumente</li>
    } @else if (packagingStats.other > 1) {
      <li>{{ packagingStats.other }} 1 Sammelpakete für nicht zugeordnete Dokumente</li>
    }
  </ul>
  @if (config()?.archiveTarget === "dimag") {
    <mat-form-field>
      <mat-label>Bestand</mat-label>
      <mat-select [formControl]="collectionControl">
        @if (collections(); as collections) {
          @for (c of collections; track c) {
            <mat-option [value]="c.id">{{ c.name }}</mat-option>
          }
        }
      </mat-select>
    </mat-form-field>
  }
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Abbrechen</button>
  <button
    mat-flat-button
    class="tertiary-button"
    (click)="startArchivingProcess()"
    [disabled]="config()?.archiveTarget === 'dimag' && !collectionControl.valid"
  >
    Archivierung starten
  </button>
</mat-dialog-actions>
