<h1 mat-dialog-title>Abgabe archivieren</h1>

<mat-dialog-content>
  <p>
    Wollen Sie die Abgabe archivieren? Der Archivierungsprozess kann, nach dem er gestartet wurde,
    nicht mehr umgekehrt werden.
  </p>
  <p>
    Der Archivierungsprozess kann mehrere Minuten dauern. Sie können diesen Dialog schließen. Der
    Prozess wird weiter durchgeführt. Sie können den aktuellen Stand weiter in der Gesamtübersicht
    der Aussonderungen sehen.
  </p>
  @if (config()?.archiveTarget === "dimag") {
    <mat-form-field>
      <mat-label>Bestand</mat-label>
      <mat-select [formControl]="collectionControl">
        @if (collections(); as collections) {
          @for (c of collections; track c) {
            <mat-option [value]="c.id">{{ c.name }}</mat-option>
          }
        }
      </mat-select>
    </mat-form-field>
  }
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Abbrechen</button>
  <button
    mat-flat-button
    class="tertiary-button"
    (click)="startArchivingProcess()"
    [disabled]="config()?.archiveTarget === 'dimag' && !collectionControl.valid"
  >
    Archivierung starten
  </button>
</mat-dialog-actions>
