<div class="row">
  <h1>Aussonderungen ({{ dataSource.data.length }})</h1>
  <button mat-flat-button (click)="toggleFilters()">
    @if (showFilters) {
      <mat-icon>filter_alt</mat-icon>
    } @else {
      <mat-icon class="material-icons-outlined">filter_alt</mat-icon>
    }
    Filtern
  </button>
  <div class="spacer"></div>
  @if (isAdmin) {
    <mat-slide-toggle [formControl]="allUsersControl">Für alle Mitarbeiter anzeigen</mat-slide-toggle>
  }
</div>

<div class="filters-container" [@expand]="showFilters">
  <form [formGroup]="filter" class="filters">
    <mat-form-field class="string-field">
      <mat-label>Filtern</mat-label>
      <input matInput formControlName="string" />
    </mat-form-field>
    <mat-form-field class="institution-field">
      <mat-label>Abgebende Stelle</mat-label>
      <mat-select formControlName="institution">
        <mat-option>Alle anzeigen ({{ getElementsForInstitution($any("")) }})</mat-option>
        @for (value of institutions; track value) {
          <mat-option [value]="value" [disabled]="getElementsForInstitution(value) === 0"
            >{{ value }} ({{ getElementsForInstitution(value) }})</mat-option
          >
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field class="status-field">
      <mat-label>Status</mat-label>
      <mat-select formControlName="state">
        <mat-option>Alle anzeigen ({{ getElementsForState($any("")) }})</mat-option>
        @for (value of stateValues; track value) {
          <mat-option [value]="value.value" [disabled]="getElementsForState(value.value) === 0"
            >{{ value.viewValue }} ({{ getElementsForState(value.value) }})</mat-option
          >
        }
      </mat-select>
    </mat-form-field>
  </form>
</div>

<div class="table-outer-container">
  <div class="table-container">
    <mat-table
      [dataSource]="dataSource"
      [trackBy]="trackProcess"
      matSort
      matSortActive="receivedAt"
      matSortDirection="desc"
    >
      <!-- agency column -->
      <ng-container matColumnDef="institution">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Abgebende Stelle</mat-header-cell>
        <mat-cell *matCellDef="let process">
          {{ process.institution }}
          <a
            mat-button
            class="open-details-button"
            aria-label="Details anzeigen"
            [routerLink]="['/nachricht/', process.id]"
          ></a>
        </mat-cell>
      </ng-container>

      <!-- note column -->
      <ng-container matColumnDef="note">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Arbeitstitel</mat-header-cell>
        <mat-cell *matCellDef="let process">{{ process.note }}</mat-cell>
      </ng-container>

      <!-- 0501 message column -->
      <ng-container matColumnDef="message0501">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Anbietung erhalten</mat-header-cell>
        <mat-cell *matCellDef="let process">
          @if (isStepFailed(process.processState.receive0501)) {
            <div class="task-cell failed">
              <mat-icon>error</mat-icon>
              <span class="task-completion-time">
                {{ getErrorTime(process.processState.receive0501) | date: "short" }}
              </span>
            </div>
          } @else if (process.processState.receive0501.complete) {
            <div class="task-cell">
              <mat-icon>check</mat-icon>
              <span class="task-completion-time">
                {{ process.processState.receive0501.completionTime | date: "short" }}
              </span>
            </div>
          }
        </mat-cell>
      </ng-container>

      <!-- appraisal complete column -->
      <ng-container matColumnDef="appraisalComplete">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Bewertung abgeschlossen</mat-header-cell>
        <mat-cell *matCellDef="let process">
          @if (isStepFailed(process.processState.appraisal)) {
            <div class="task-cell failed">
              <mat-icon>error</mat-icon>
              <span class="task-completion-time">
                {{ getErrorTime(process.processState.appraisal) | date: "short" }}
              </span>
            </div>
          } @else if (process.processState.appraisal.complete) {
            <div class="task-cell">
              <mat-icon>check</mat-icon>
              <span class="task-completion-time">
                {{ process.processState.appraisal.completionTime | date: "short" }}
              </span>
            </div>
          } @else {
            <div class="task-cell">
              <span>{{ process.processState.appraisal.message }}</span>
            </div>
          }
        </mat-cell>
      </ng-container>

      <!-- 0505 message column -->
      <ng-container matColumnDef="message0505">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Bewertung in DMS importiert</mat-header-cell>
        <mat-cell *matCellDef="let process">
          @if (isStepFailed(process.processState.receive0505)) {
            <div class="task-cell failed">
              <mat-icon>error</mat-icon>
              <span class="task-completion-time">
                {{ getErrorTime(process.processState.receive0505) | date: "short" }}
              </span>
            </div>
          } @else if (process.processState.receive0505.complete) {
            <div class="task-cell">
              <mat-icon>check</mat-icon>
              <span class="task-completion-time">
                {{ process.processState.receive0505.completionTime | date: "short" }}
              </span>
            </div>
          }
        </mat-cell>
      </ng-container>

      <!-- 0503 message column -->
      <ng-container matColumnDef="message0503">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Abgabe erhalten</mat-header-cell>
        <mat-cell *matCellDef="let process">
          @if (isStepFailed(process.processState.receive0503)) {
            <div class="task-cell failed">
              <mat-icon>error</mat-icon>
              <span class="task-completion-time">
                {{ getErrorTime(process.processState.receive0503) | date: "short" }}
              </span>
            </div>
          } @else if (process.processState.receive0503.complete) {
            <div class="task-cell">
              <mat-icon>check</mat-icon>
              <span class="task-completion-time">
                {{ process.processState.receive0503.completionTime | date: "short" }}
              </span>
            </div>
          }
        </mat-cell>
      </ng-container>

      <!-- format verification column -->
      <ng-container matColumnDef="formatVerification">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Formatverifikation abgeschlossen</mat-header-cell>
        <mat-cell *matCellDef="let process">
          @if (isStepFailed(process.processState.formatVerification)) {
            <div class="task-cell failed">
              <mat-icon>error</mat-icon>
              <span class="task-completion-time">
                {{ getErrorTime(process.processState.formatVerification) | date: "short" }}
              </span>
            </div>
          } @else if (process.processState.formatVerification.complete) {
            <div class="task-cell">
              <mat-icon>check</mat-icon>
              <span class="task-completion-time">
                {{ process.processState.formatVerification.completionTime | date: "short" }}
              </span>
            </div>
          } @else if (getRunningTask(process.processState.formatVerification)) {
            <div class="progress-cell">
              {{ getRunningTask(process.processState.formatVerification)!.itemCompletedCount }} /
              {{ getRunningTask(process.processState.formatVerification)!.itemCount }}
              <mat-spinner diameter="24"></mat-spinner>
            </div>
          } @else if (config()!.borgSupport === false) {
            <div class="task-cell"><em>nicht verfügbar</em></div>
          }
        </mat-cell>
      </ng-container>

      <!-- archiving complete column -->
      <ng-container matColumnDef="archivingComplete">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Abgabe archiviert</mat-header-cell>
        <mat-cell *matCellDef="let process">
          @if (isStepFailed(process.processState.archiving)) {
            <div class="task-cell failed">
              <mat-icon>error</mat-icon>
              <span class="task-completion-time">
                {{ getErrorTime(process.processState.archiving) | date: "short" }}
              </span>
            </div>
          } @else if (process.processState.archiving.complete) {
            <div class="task-cell">
              <mat-icon>check</mat-icon>
              <span class="task-completion-time">
                {{ process.processState.archiving.completionTime | date: "short" }}
              </span>
            </div>
          } @else if (getRunningTask(process.processState.archiving)) {
            <div class="progress-cell">
              Archivierung läuft
              <mat-spinner diameter="24"></mat-spinner>
            </div>
          }
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: displayedColumns"
        [class.error-row]="hasUnresolvedError(row)"
        [class.archived-row]="row.processState.archiving.complete"
      ></mat-row>
    </mat-table>
  </div>

  <mat-paginator
    [pageSizeOptions]="[10, 15, 25, 100]"
    (page)="onPaginate($event)"
    aria-label="Seite auswählen"
  ></mat-paginator>
</div>
