<h1>Problemfälle ({{ dataSource.data.length }})</h1>

<div class="mat-elevation-z8">
  <div class="table-container">
    <mat-table
      [dataSource]="dataSource"
      [trackBy]="trackTableRow"
      matSort
      matSortActive="detectedAt"
      matSortDirection="desc"
    >
      <!-- detected at column -->
      <ng-container matColumnDef="detectedAt">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Feststellungs&shy;zeitpunkt</mat-header-cell>
        <mat-cell *matCellDef="let error">{{ error.detectedAt | date: "short" }}</mat-cell>
      </ng-container>

      <!-- transfer dir path column -->
      <ng-container matColumnDef="agency">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Abgebende Stelle</mat-header-cell>
        <mat-cell *matCellDef="let error">{{ error.agency.name }}</mat-cell>
      </ng-container>

      <!-- description column -->
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Problembeschreibung</mat-header-cell>
        <mat-cell *matCellDef="let error"
          >{{ error.description }}
          <button
            mat-button
            class="open-details-button"
            (click)="openDetails(error)"
            aria-label="Details anzeigen"
          ></button>
        </mat-cell>
      </ng-container>

      <!-- actions column -->
      <ng-container matColumnDef="actions" stickyEnd>
        <mat-header-cell *matHeaderCellDef>Aktionen</mat-header-cell>
        <mat-cell *matCellDef="let error">
          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-hidden="false"
            aria-label="Aktionen für Nachricht anzeigen"
          >
            <mat-icon>more_horiz</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>outgoing_mail</mat-icon>
              <span>E-Mail an Abgebende Stelle</span>
            </button>
            <button mat-menu-item>
              <mat-icon>delete</mat-icon>
              <span>Nachricht löschen</span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25]" aria-label="Verarbeitungsfehler auswählen"></mat-paginator>
  </div>
</div>
