<div class="row">
  <h1>Problemfälle ({{ dataSource.data.length }})</h1>
  <mat-slide-toggle [formControl]="showResolvedControl">Gelöste Probleme anzeigen</mat-slide-toggle>
</div>

<div class="mat-elevation-z8">
  <div class="table-container">
    <mat-table
      [dataSource]="dataSource"
      [trackBy]="trackTableRow"
      matSort
      matSortActive="detectedAt"
      matSortDirection="desc"
    >
      <!-- detected at column -->
      <ng-container matColumnDef="detectedAt">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Feststellungs&shy;zeitpunkt</mat-header-cell>
        <mat-cell *matCellDef="let error">{{ error.detectedAt | date: "short" }}</mat-cell>
      </ng-container>

      <!-- transfer dir path column -->
      <ng-container matColumnDef="agency">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Abgebende Stelle</mat-header-cell>
        <mat-cell *matCellDef="let error">{{ error.agency?.name }}</mat-cell>
      </ng-container>

      <!-- description column -->
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Problembeschreibung</mat-header-cell>
        <mat-cell *matCellDef="let error">
          @if (error.resolved) {
            Gelöst:
          }
          {{ error.description }}
          <button
            mat-button
            class="open-details-button"
            (click)="openDetails(error)"
            aria-label="Details anzeigen"
          ></button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns" [class.resolved-row]="row.resolved"></mat-row>
    </mat-table>
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 25]" aria-label="Verarbeitungsfehler auswählen"></mat-paginator>
</div>
