<h2 mat-dialog-title>{{ data.description }}</h2>
<div mat-dialog-content>
  <div role="table">
    <div role="row">
      <div role="cell">Feststellungszeitpunkt</div>
      <div role="cell">{{ data.detectedAt | date: "medium" }}</div>
    </div>
    <div role="row">
      <div role="cell">Abgebende Stelle</div>
      <div role="cell">{{ data.agency.name }}</div>
    </div>
    <div role="row">
      <div role="cell">Aussonderung</div>
      <div role="cell">
        @if (data.process.message0503Id || data.process.message0501Id) {
          <a
            mat-button
            color="primary"
            [routerLink]="['/nachricht', data.process.message0503Id || data.process.message0501Id]"
            target="_blank"
          >
            {{ data.process.xdomeaID }}
            <mat-icon iconPositionEnd>open_in_new</mat-icon>
          </a>
        } @else {
          {{ data.process.xdomeaID }}
        }
      </div>
    </div>
    @if (data.message) {
      <div role="row">
        <div role="cell">Typ der Nachricht</div>
        <div role="cell">{{ data.message.messageType.code }}</div>
      </div>
      <div role="row">
        <div role="cell">Nachricht</div>
        <div role="cell">
          <a mat-button color="primary" [routerLink]="['/nachricht', data.message.id]" target="_blank">
            {{ data.message.id }}
            <mat-icon iconPositionEnd>open_in_new</mat-icon>
          </a>
        </div>
      </div>
    }
  </div>
  @if (data.additionalInfo) {
    <mat-form-field>
      <mat-label>Fehler-Informationen</mat-label>
      <textarea matInput readonly [value]="data.additionalInfo" rows="6"></textarea>
    </mat-form-field>
  }

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Fehlerobjekt</mat-panel-title>
      </mat-expansion-panel-header>
      <pre>{{ json }}</pre>
    </mat-expansion-panel>
  </mat-accordion>
</div>
