:host {
  display: block;
  padding-top: 3em;
  padding-bottom: 3em;
  padding-left: 5em;
  padding-right: 5em;
  overflow: auto;

  .processing-errors-section {
      display: flex;
      flex-direction: column;
      margin-top: 2em;
  
      .error-table {
          width: 100%;
          min-width: 80em;
          max-width: 150em;
      }
  }
}