<div class="processing-errors-section">
  <div class="error-table mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort matSortActive="detectedAt" matSortDirection="desc">

      <!-- detected at column -->
      <ng-container matColumnDef="detectedAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Feststellungszeitpunkt</th>
        <td mat-cell *matCellDef="let error"> {{error.detectedAt | date:'short'}} </td>
      </ng-container>
  
      <!-- transfer dir path column -->
      <ng-container matColumnDef="agency">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Abgebende Stelle</th>
          <td mat-cell *matCellDef="let error"> {{error.agency.name}} </td>
      </ng-container>

      <!-- description column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Problembeschreibung</th>
        <td mat-cell *matCellDef="let error"> {{error.description}} </td>
    </ng-container>

      <!-- actions column -->
      <ng-container matColumnDef="actions" stickyEnd>
          <th mat-header-cell *matHeaderCellDef>Aktionen</th>
          <td mat-cell *matCellDef="let error">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-hidden="false" aria-label="Aktionen für Nachricht anzeigen">
                  <mat-icon>more_horiz</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <mat-icon>outgoing_mail</mat-icon>
                  <span>E-Mail an Abgebende Stelle</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>delete</mat-icon>
                  <span>Nachricht löschen</span>
                </button>
              </mat-menu>
          </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      </table>
  
      <mat-paginator [pageSizeOptions]="[5, 10, 25]" aria-label="Verarbeitungsfehler auswählen"></mat-paginator>
  </div>
</div>