<h2 mat-dialog-title>{{ data.user.displayName }}</h2>
<div mat-dialog-content>
  <mat-chip-set>
    @if (data.user.permissions.admin) {
      <mat-chip>Administration</mat-chip>
    }
  </mat-chip-set>
  @if (data.agencies.length > 0) {
    <h3>Zugeordnete abgebende Stellen</h3>
    <mat-list role="list">
      @for (institution of data.agencies; track institution) {
        <mat-list-item>
          <mat-icon matListItemIcon class="material-symbols-rounded">source_environment</mat-icon>
          <div matListItemTitle>{{ institution.name }}</div>
        </mat-list-item>
      }
    </mat-list>
  } @else {
    <p>Keine zugeordneten abgebenden Stellen</p>
  }
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Schließen</button>
</div>
