:host {
    display: block;
    padding: 3em;

    .message-section {
        display: flex;
        flex-direction: column;
        margin-top: 2em;
    
        .message-table {
            min-width: 80em;
            max-width: 100em;
        }

        // TODO: find a better solution to justifu content
        .task-cell {
            padding-left: 5em;
            font-weight: bold;
            font-size: large;
        }
    }
}