@use "@angular/material" as mat;

html {
  color-scheme: light;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$magenta-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

h1 {
  font: var(--mat-sys-display-small);
}

.tertiary-button {
  @include mat.theme-overrides(
    (
      primary: var(--mat-sys-tertiary),
    )
  );
}

.error-button {
  @include mat.theme-overrides(
    (
      primary: var(--mat-sys-error),
    )
  );
}

.secondary-progress-spinner {
  @include mat.theme-overrides(
    (
      primary: var(--mat-sys-secondary),
    )
  );
}
