/* You can add global styles to this file, and also import other style files */

@use "roboto.scss";
@use "material-theme.scss";
@use "material-icons.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// shrink rows status and format version for the format verification table
// difference to Borg 
.cdk-column-formatVersion {
  flex: 0.5 0 0;
}
.cdk-column-status {
  flex: 0.3 0 0;
}
