@use "@angular/material" as mat;

:host {
  display: grid;
  height: 100%;
  background-color: mat.get-color-from-palette(mat.$indigo-palette, 700);
}

mat-card {
  margin: auto;
  width: min(400px, 90vw);
}

mat-card-content {
  display: flex;
  flex-direction: column;
  padding-top: 2em;
}
