:host {
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  overflow: auto;
  flex-grow: 1;
}

mat-sidenav-container {
  flex-grow: 1;

  mat-sidenav {
    width: 55em;
  }

  mat-sidenav-content.mode-over {
    display: flex;
    .open-sidenav-button {
      position: sticky;
      top: 0;
      flex-shrink: 0;
      flex-grow: 0;
      height: 100%;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: 12px;
      border-top-right-radius: var(--mat-sidenav-container-shape);
      border-bottom-right-radius: var(--mat-sidenav-container-shape);
      mat-icon {
        margin: 0;
      }
    }
    // Make the routed child component fill up the available space
    router-outlet + ::ng-deep * {
      flex-grow: 1;
    }
  }
}
