<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="sidenavMode" opened>
    <app-message-tree></app-message-tree>
  </mat-sidenav>

  <mat-sidenav-content [class.mode-over]="sidenavMode === 'over'">
    @if (sidenavMode === "over") {
      <button
        mat-raised-button
        class="open-sidenav-button"
        (click)="sidenav.open()"
        aria-label="Nachrichten-Baum ausklappen"
      >
        <mat-icon>chevron_right</mat-icon>
      </button>
    }
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
