<mat-sidenav-container>
  <!-- The sidenav container doesn't pick up the sidenav's with when set in the
  stylesheet. This is probably a bug in early Angular 19. Move to stylesheet
  when fixed. -->
  <mat-sidenav
    #sidenav
    [mode]="sidenavMode"
    opened
    [disableClose]="sidenavMode === 'side'"
    style="width: 880px"
  >
    <app-message-tree></app-message-tree>
  </mat-sidenav>

  <mat-sidenav-content [class.mode-over]="sidenavMode === 'over'">
    @if (sidenavMode === "over") {
      <button
        mat-raised-button
        class="open-sidenav-button"
        (click)="sidenav.open()"
        aria-label="Nachrichten-Baum ausklappen"
      >
        <mat-icon>chevron_right</mat-icon>
      </button>
    }
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
