<h2 mat-dialog-title>{{ data.user.displayName }}</h2>
<div mat-dialog-content>
  <mat-chip-set>
    @if (data.user.permissions.admin) {
      <mat-chip>Administration</mat-chip>
    }
  </mat-chip-set>

  <mat-accordion [multi]="true">
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>Zugeordnete abgebende Stellen</mat-panel-title>
      </mat-expansion-panel-header>
      @if (data.agencies && data.agencies.length > 0) {
        <mat-list role="list">
          @for (agency of data.agencies; track agency) {
            <mat-list-item>
              <mat-icon matListItemIcon class="material-symbols-rounded"
                >source_environment</mat-icon
              >
              <div matListItemTitle>{{ agency.name }}</div>
            </mat-list-item>
          }
        </mat-list>
      } @else {
        <p>Keine zugeordneten abgebenden Stellen</p>
      }
    </mat-expansion-panel>
    @if (preferences && config()?.supportsEmailNotifications) {
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>E-Mails</mat-panel-title>
        </mat-expansion-panel-header>
        <form class="toggles-container" [formGroup]="preferences">
          <mat-slide-toggle formControlName="messageEmailNotifications">
            Benachrichtigung bei neuer Nachricht
          </mat-slide-toggle>
          <mat-slide-toggle formControlName="reportByEmail">
            Übernahmebericht per E-Mail
          </mat-slide-toggle>
          @if (isAdmin) {
            <mat-slide-toggle formControlName="errorEmailNotifications">
              Benachrichtigung bei neuem Fehler in der Steuerungsstelle
            </mat-slide-toggle>
          }
        </form>
      </mat-expansion-panel>
    }
  </mat-accordion>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close cdkFocusInitial>Schließen</button>
</div>
