@use "@angular/material" as mat;

[mat-dialog-content] {
  display: flex;
  flex-direction: column;
  // Prevent cutting of shadows
  padding-bottom: 4px;
}

h2 {
  margin-bottom: 0;
}

mat-chip-set {
  margin-bottom: 16px;
  align-self: center;
}

.toggles-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

mat-list {
  @include mat.list-overrides(
    (
      list-item-hover-leading-icon-color: var(--mat-sys-on-surface-variant),
    )
  );
}
