<h1 mat-dialog-title>Abgabe archivieren</h1>

<mat-dialog-content>
  <p>
    Wollen Sie die Abgabe archivieren? Der Archivierungsprozess kann, nach dem er gestartet wurde, 
    nicht mehr umgekehrt werden.
  </p>
  <p>
    Der Archivierungsprozess kann mehrere Minuten dauern. Sie können diesen Dialog schließen.
    Der Prozess wird weiter durchgeführt. Sie können den aktuellen Stand weiter in der 
    Gesamtübersicht der Aussonderungen sehen.
  </p>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="abort-button" mat-stroked-button mat-dialog-close color="primary">Abbrechen</button>
  <button class="confirm-button" mat-stroked-button color="accent" (click)="startArchivingProcess()">Archivierungsprozess starten</button>
</mat-dialog-actions>