@use 'sass:map';
@use '@angular/material' as mat;

:host {
  display: block;
  width: 45.0em;
}

.confirm-button {
  border: 2px solid mat.get-color-from-palette(mat.$pink-palette, 300) !important;
}

.abort-button {
  border: 2px solid mat.get-color-from-palette(mat.$indigo-palette, 300) !important;
}