.mat-mdc-dialog-title + .mat-mdc-dialog-content {
  // Make room for overflowing elements
  padding-top: 5px;
  padding-bottom: 4px;
}

.row {
  display: flex;
  align-items: center;
  gap: 1em;
  > span {
    margin-bottom: 22px;
  }
}

mat-form-field {
  flex-grow: 1;
}

.name-field {
  flex-basis: 500px;
}

.protocol-field {
  flex-basis: 150px;
  flex-grow: 0;
}

.test-button {
  width: 100%;
  ::ng-deep .mdc-button__label {
    display: inline-flex;
    align-items: center;
    gap: 1em;
    .mat-mdc-progress-spinner {
      --mdc-circular-progress-active-indicator-color: currentColor;
    }
  }
}

.message {
  display: flex;
  gap: 0.5em;
  align-items: center;
  width: 0;
  min-width: 100%;
  margin: 12px 0 0;
  &.message-success mat-icon {
    color: green;
  }
  &.message-failed mat-icon {
    color: red;
  }
  mat-icon {
    flex-shrink: 0;
  }
}

.delete-button {
  margin-right: auto;
}
